In [2]:
import pandas as pd

### Проанализируем количество подозрительных перелетов - предыдущий закончился в одном месте,  а следующий начался в другом месте, и частые перелеты между странами

In [115]:
df = pd.read_csv('data/new_with_flights.csv', index_col='id')

D:\Programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
D:\Programs\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df

,name,travel_doc,ticket,from,dest,depart_date,flight_code,flights
id,,,,,,,,
0,ОЗЕРОВ ИЛЬДАР ДАНИИЛОВИЧ,9375 053270,7360415302044672,SVO,OVB,2017-05-30,SU1306,1
1,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,7398421117936516,MMK,SVO,2017-12-27,SU1323,7
2,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,3236309381479419,SVO,VOZ,2017-10-05,SU1352,7
3,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,1780749303073720,KZN,SVO,2017-05-12,SU1277,7
4,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,8628 286151,5444574787241301,IKT,SVO,2017-02-14,SU1443,7
...,...,...,...,...,...,...,...,...
1558375,BONDAREVA STEFANIYA,NaN,NaN,VNO,SVO,2017-03-25,SU2105,24
1558376,BONDAREVA STEFANIYA,NaN,NaN,SEA,LAX,2017-05-23,DL920,24
1558377,BONDAREVA STEFANIYA,NaN,NaN,SLC,LAS,2017-07-06,DL5754,24
1558378,BONDAREVA STEFANIYA,NaN,NaN,OVB,LED,2017-01-13,SU6542,24
1558379,BONDAREVA STEFANIYA,NaN,NaN,NRT,SEA,2017-04-27,KE3126,24

### Посчитать количество полетов, которые заканчиваются в одном, а начинаются в другом

In [50]:
def count_not_normal_flights(dataframe):
    prev = ''
    count = 0
    for elem in dataframe.values:
        if pd.isna(elem[3]):
            continue
        if pd.isna(elem[4]):
            prev = ''
            continue
        if prev != '' and elem[3].lower() != prev.lower():
            count += 1
        prev = elem[4]
    return count]

In [116]:
not_normal_flights = pd.DataFrame(columns=['name', 'not_ok_flights', 'flights'])

In [117]:
not_normal_flights

Empty DataFrame
Columns: [name, not_ok_flights, flights]
Index: []

In [108]:
len(df.name.unique())

455119

In [118]:
df

,name,travel_doc,ticket,from,dest,depart_date,flight_code,flights
id,,,,,,,,
0,ОЗЕРОВ ИЛЬДАР ДАНИИЛОВИЧ,9375 053270,7360415302044672,SVO,OVB,2017-05-30,SU1306,1
1,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,7398421117936516,MMK,SVO,2017-12-27,SU1323,7
2,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,3236309381479419,SVO,VOZ,2017-10-05,SU1352,7
3,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,1780749303073720,KZN,SVO,2017-05-12,SU1277,7
4,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,8628 286151,5444574787241301,IKT,SVO,2017-02-14,SU1443,7
...,...,...,...,...,...,...,...,...
1558375,BONDAREVA STEFANIYA,NaN,NaN,VNO,SVO,2017-03-25,SU2105,24
1558376,BONDAREVA STEFANIYA,NaN,NaN,SEA,LAX,2017-05-23,DL920,24
1558377,BONDAREVA STEFANIYA,NaN,NaN,SLC,LAS,2017-07-06,DL5754,24
1558378,BONDAREVA STEFANIYA,NaN,NaN,OVB,LED,2017-01-13,SU6542,24
1558379,BONDAREVA STEFANIYA,NaN,NaN,NRT,SEA,2017-04-27,KE3126,24

### Убираем клиентов, которые летали меньше 3х раз

In [119]:
df = df[df['flights'] > 3]

In [114]:
df

,name,travel_doc,ticket,from,dest,depart_date,flight_code,flights
id,,,,,,,,
1,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,7398421117936516,MMK,SVO,2017-12-27,SU1323,7
2,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,3236309381479419,SVO,VOZ,2017-10-05,SU1352,7
3,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,1780749303073720,KZN,SVO,2017-05-12,SU1277,7
4,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,8628 286151,5444574787241301,IKT,SVO,2017-02-14,SU1443,7
5,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,55 3274893,1608576104884025,VOZ,SVO,2017-11-11,SU1355,7
...,...,...,...,...,...,...,...,...
1558375,BONDAREVA STEFANIYA,NaN,NaN,VNO,SVO,2017-03-25,SU2105,24
1558376,BONDAREVA STEFANIYA,NaN,NaN,SEA,LAX,2017-05-23,DL920,24
1558377,BONDAREVA STEFANIYA,NaN,NaN,SLC,LAS,2017-07-06,DL5754,24
1558378,BONDAREVA STEFANIYA,NaN,NaN,OVB,LED,2017-01-13,SU6542,24
1558379,BONDAREVA STEFANIYA,NaN,NaN,NRT,SEA,2017-04-27,KE3126,24

In [120]:
value = 10000
unique_names = df.name.unique()
for i in range (len(unique_names)):
    name = unique_names[i]
    sub_df = df[df['name'] == name].sort_values(by='depart_date')
    not_ok = count_not_normal_flights(sub_df)
    flights = sub_df.values[0][-1]
    not_normal_flights.loc[i] = [name] + [not_ok] + [flights]
    if i == value:
        print(i)
        value += 10000

10000
20000
30000
40000
50000
60000
70000
80000

In [121]:
not_normal_flights

                                  name not_ok_flights flights
0           КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ              3       7
1      ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА              1       5
2             ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ              0       5
3          НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ              2       6
4             ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ              0       6
...                                ...            ...     ...
82908                 KASATKIN VALERIY              0      23
82909                    KOZLOVA AGATA              0      17
82910                PANTELEEVA KARINA              0      18
82911                  NAZAROVA SOF'YA              0      19
82912              BONDAREVA STEFANIYA              0      24

[82913 rows x 3 columns]

In [127]:
not_normal_flights.not_ok_flights.value_counts()

0     24398
3     13394
2     11690
4      8650
1      7022
      ...
78        1
79        1
81        1
84        1
87        1
Name: not_ok_flights, Length: 75, dtype: int64

In [128]:
not_normal_flights.to_csv(r'data/not_normal_flights.csv', index_label='id')

<br>

### Проанализируем данные

In [2]:
df = pd.read_csv('data/not_normal_flights.csv', index_col='id')

In [3]:
df

                                  name  not_ok_flights  flights
id
0           КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ               3        7
1      ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА               1        5
2             ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ               0        5
3          НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ               2        6
4             ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ               0        6
...                                ...             ...      ...
82908                 KASATKIN VALERIY               0       23
82909                    KOZLOVA AGATA               0       17
82910                PANTELEEVA KARINA               0       18
82911                  NAZAROVA SOF'YA               0       19
82912              BONDAREVA STEFANIYA               0       24

[82913 rows x 3 columns]

In [5]:
df.not_ok_flights.value_counts()

0     24398
3     13394
2     11690
4      8650
1      7022
      ...
84        1
71        1
74        1
78        1
62        1
Name: not_ok_flights, Length: 75, dtype: int64

In [11]:
df[df['not_ok_flights'] > 80]

                     name  not_ok_flights  flights
id
47542  SAL'NIKOV ANATOLIY              87       95
55067    KALASHNIKOV GLEB              84       98
75228     KOL'TSOVA OXANA              81       89

In [13]:
df

                                  name  not_ok_flights  flights
id
0           КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ               3        7
1      ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА               1        5
2             ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ               0        5
3          НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ               2        6
4             ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ               0        6
...                                ...             ...      ...
82908                 KASATKIN VALERIY               0       23
82909                    KOZLOVA AGATA               0       17
82910                PANTELEEVA KARINA               0       18
82911                  NAZAROVA SOF'YA               0       19
82912              BONDAREVA STEFANIYA               0       24

[82913 rows x 3 columns]

### Добавим процент not_ok перелетов ко всему количеству перелетов

In [14]:
df['percentage'] = [elem[1] / elem[2] for elem in df.values]

In [17]:
suspicious_df = df[df['percentage'] >= 0.7]

In [19]:
suspicious_df.flights.describe()

count    16485.000000
mean         7.351592
std          8.848245
min          4.000000
25%          4.000000
50%          5.000000
75%          7.000000
max         98.000000
Name: flights, dtype: float64

In [20]:
suspicious_df = suspicious_df[suspicious_df['flights'] > 20]

In [23]:
suspicious_df.reset_index(drop=True, inplace=True)

In [25]:
suspicious_df

                   name  not_ok_flights  flights  percentage
0          BELOVA DIANA              35       49    0.714286
1     NIKONOVA TAT'YANA              27       38    0.710526
2        KALMYKOV MARAT              36       49    0.734694
3       BASHIROV RAMIL'              43       50    0.860000
4        DMITRIEV DEMID              40       50    0.800000
..                  ...             ...      ...         ...
576     GOLOVINA OLESYA              35       43    0.813953
577       AKIMOVA ZLATA              31       44    0.704545
578   KARTASHOV GEORGIY              44       58    0.758621
579   STOLYAROVA KARINA              51       63    0.809524
580  KONSTANTINOV ADEL'              29       40    0.725000

[581 rows x 4 columns]

In [26]:
suspicious_df.to_csv(r'data/suspicious.csv', index_label='id')

### Создадим словарь: Код аэропорта - страна

In [1]:
reg_flights = pd.read_csv('data/Registered Flights.csv', index_col='id')

NameError: name 'pd' is not defined

In [28]:
reg_flights

,Nickname,First Name,Last Name,Sex,Date,Flight,Codeshare,Depart_City,Depart_Airport,Depart_Country,Arrival_City,Arrival_Airport,Arrival_Country
id,,,,,,,,,,,,,
0,FrequentFlyer0,NaN,NaN,Male,2017-03-04,DL3377,False,Boston MA,BOS,United States of,Pittsburgh PA,PIT,United States of
1,FrequentFlyer0,NaN,NaN,Male,2017-07-21,DL3630,False,Green Bay WI,GRB,United States of,Detroit MI,DTW,United States of
2,FrequentFlyer0,NaN,NaN,Male,2017-03-22,DL5361,False,Pittsburgh PA,PIT,United States of,New York NY,LGA,United States of
3,FrequentFlyer0,NaN,NaN,Male,2017-01-04,SU3702,True,Moscow,SVO,Russian Federation,Warsaw,WAW,Poland
4,FrequentFlyer0,NaN,NaN,Male,2017-08-08,DL3412,False,Fayetteville AR,XNA,United States of,Atlanta GA,ATL,United States of
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308982,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-12-15,DL3345,False,Washington,IAD,United States of,New York NY,JFK,United States of
1308983,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-08-12,SU2014,False,Moscow,SVO,Russian Federation,Prague,PRG,Czech Republic
1308984,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-12-29,DL2463,False,Atlanta GA,ATL,United States of,New York NY,LGA,United States of
1308985,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-06-02,SU1463,False,Novosibirsk,OVB,Russian Federation,Moscow,SVO,Russian Federation
1308986,FrequentFlyer99999,AYDAR,ISAEV,Male,2017-07-05,KL6106,True,New York NY,JFK,United States of,Frankfurt,FRA,Germany

In [37]:
airport_dict = {}
value = 10000
for i in range(len(reg_flights)):
    d_country = reg_flights.iloc[i]['Depart_Country']
    d_air = reg_flights.iloc[i]['Depart_Airport']
    a_country = reg_flights.iloc[i]['Arrival_Country']
    a_air = reg_flights.iloc[i]['Arrival_Airport']
    if not pd.isna(d_country):
        if airport_dict.get(d_air) is None:
            airport_dict[d_air] = d_country
    if not pd.isna(a_country):
        if airport_dict.get(a_air) is None:
            airport_dict[a_air] = a_country
    if i == value:
        print(i)
        value += 10000

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000

In [38]:
airport_dict

{'BOS': 'United States of',
 'PIT': 'United States of',
 'GRB': 'United States of',
 'DTW': 'United States of',
 'LGA': 'United States of',
 'SVO': 'Russian Federation',
 'WAW': 'Poland',
 'XNA': 'United States of',
 'ATL': 'United States of',
 'FLL': 'United States',
 'ILM': 'United States of',
 'OAJ': 'United States of',
 'SMF': 'United States of',
 'CDG': 'France',
 'EVV': 'United States of',
 'BHM': 'United States of',
 'SHV': 'United States of',
 'PVG': 'China',
 'NRT': 'Japan',
 'SIN': 'Singapore',
 'TPE': 'Taiwan',
 'PKC': 'Russian Federation',
 'VVO': 'Russian Federation',
 'AQG': 'China',
 'CAN': 'China',
 'TGO': 'China',
 'HET': 'China',
 'HGH': 'China',
 'rea': 'Ko',
 'TYN': 'China',
 'BQS': 'Russian',
 'SGN': 'Vietnam',
 'HEL': 'Finland',
 'PRG': 'Czech Republic',
 'KEJ': 'Russian Federation',
 'ROV': 'Russian Federation',
 'DMM': 'Saudi Arabia',
 'MED': 'Saudi Arabia',
 'DEL': 'India',
 'BSL': 'France',
 'AMS': 'Netherlands',
 'AUH': 'United Arab Emirates',
 'RUH': 'Saudi Arabia',
 'MAD': 'Spain and Canary Islands',
 'RTW': 'Russian Federation',
 'LIL': 'France',
 'NTE': 'France',
 'NCE': 'France',
 'MSQ': 'Belarus',
 'FRA': 'Germany',
 'SXB': 'France',
 'FCO': 'Italy',
 'LYS': 'France',
 'BES': 'France',
 'MRS': 'France',
 'ETZ': 'France',
 'IKT': 'Russian Federation',
 'GOJ': 'Russian',
 'MRV': 'Russian',
 'GVA': 'Switzerland',
 'BTR': 'United States of',
 'NBC': 'Russian Federation',
 'LHR': 'United Kingdom',
 'MSP': 'United',
 'MSN': 'United States of',
 'RIX': 'Latvia',
 'JFK': 'United States of',
 'PHX': 'United States of',
 'TXL': 'Germany',
 'AJA': 'France',
 'ORY': 'France',
 'KHV': 'Russian Federation',
 'NJC': 'Russian',
 'UIP': 'France',
 'TLS': 'France',
 'MLH': 'France',
 'KZN': 'Russian Federation',
 'NGK': 'Russian Federation',
 'CLJ': 'Romania',
 'OTP': 'Romania',
 'RMF': 'Egypt',
 'BUD': 'Hungary',
 'CPH': 'Denmark',
 'ova': 'Mold',
 'IAS': 'Romania',
 'TOF': 'Russian Federation',
 'CPT': 'South Africa',
 'EVN': 'Armenia',
 'BEY': 'Lebanon',
 'BOD': 'France',
 'NBO': 'Kenya',
 'GDX': 'Russian Federation',
 'CMN': 'Morocco',
 'STW': 'Russian Federation',
 'NAO': 'China',
 'SHE': 'China',
 'SYX': 'China',
 'HND': 'Japan',
 'JJN': 'China',
 'DOH': 'Qatar',
 'AER': 'Russian Federation',
 'CHG': 'China',
 'PEK': 'China',
 'SVX': 'Russian Federation',
 'HMI': 'China',
 'ALA': 'Kazakhstan',
 'LED': 'Russian',
 'WUH': 'China',
 'WNZ': 'China',
 'URC': 'China',
 'SXF': 'Germany',
 'VOZ': 'Russian Federation',
 'NGS': 'Japan',
 'BLQ': 'Italy',
 'OVB': 'Russian Federation',
 'OHH': 'Russian Federation',
 'GDL': 'Mexico',
 'MEX': 'Mexico',
 'LNK': 'United States of',
 'FWA': 'United States of',
 'DLC': 'China',
 'BCN': 'Spain and Canary',
 'CUN': 'Mexico',
 'MIA': 'United States of',
 'CUU': 'Mexico',
 'KUF': 'Russian Federation',
 'MQF': 'Russian Federation',
 'OMS': 'Russian Federation',
 'DXB': 'United Arab Emirates',
 'HAN': 'Vietnam',
 'KMG': 'China',
 'TAO': 'China',
 'WUX': 'China',
 'ZUH': 'China',
 'CGQ': 'China',
 'DIG': 'China',
 'LHW': 'China',
 'TYS': 'United States of',
 'UUS': 'Russian Federation',
 'OKC': 'United States',
 'UIO': 'Ecuador',
 'STR': 'Germany',
 'MGM': 'United States of',
 'MXP': 'Italy',
 'BHX': 'United Kingdom',
 'VLC': 'Spain and Canary Islands',
 'CGO': 'China',
 'CTA': 'Italy',
 'BKK': 'Thailand',
 'RGN': 'Myanmar',
 'HKT': 'Thailand',
 'TUN': 'Tunisia',
 'REP': 'Cambodia',
 'USM': 'Thailand',
 'TDX': 'Thailand',
 'SEA': 'United States of',
 'MCI': 'United States of',
 'PDX': 'United States of',
 'OMA': 'United States of',
 'GEG': 'United States of',
 'LAX': 'United States of',
 'YCU': 'China',
 'FOC': 'China',
 'XMN': 'China',
 'HAK': 'China',
 'SWA': 'China',
 'DYG': 'China',
 'HRB': 'China',
 'MEL': 'Australia',
 'SYD': 'Australia',
 'LZH': 'China',
 'ASF': 'Russian Federation',
 'BEG': 'Serbia',
 'KWL': 'China',
 'SHA': 'China',
 'CGK': 'Indonesia',
 'JED': 'Saudi Arabia',
 'CSX': 'China',
 'LYG': 'China',
 'NKG': 'China',
 'IAH': 'United States of',
 'BIQ': 'France',
 'MUC': 'Germany',
 'BIO': 'Spain and Canary Islands',
 'AGP': 'Spain and Canary Islands',
 'NGO': 'Japan',
 'CTU': 'China',
 'SRG': 'Indonesia',
 'SUB': 'Indonesia',
 'YNB': 'Saudi Arabia',
 'DAT': 'China',
 'TIA': 'Albania',
 'TJM': 'Russian Federation',
 'TRN': 'Italy',
 'TGD': 'Montenegro',
 'VNO': 'Lithuania',
 'SOF': 'Bulgaria',
 'ROA': 'United States of',
 'YYC': 'Canada',
 'GTR': 'United States of',
 'ORD': 'United States of',
 'JAX': 'United States of',
 'MKE': 'United States of',
 'PBI': 'United',
 'VCE': 'Italy',
 'TSR': 'Romania',
 'ABA': 'Russian Federation',
 'JGN': 'China',
 'XIY': 'China',
 'BRU': 'Belgium',
 'VRN': 'Italy',
 'ALC': 'Spain and Canary Islands',
 'BOG': 'Colombia',
 'IST': 'Turkey',
 'SLC': 'United States of',
 'VKO': 'Russian Federation',
 'CVG': 'United States of',
 'SJD': 'Mexico',
 'RDU': 'United States',
 'DCA': 'United States of',
 'MCX': 'Russian Federation',
 'PVD': 'United States of',
 'TPA': 'United States of',
 'KRR': 'Russian Federation',
 'CAI': 'Egypt',
 'MMK': 'Russian Federation',
 'AAQ': 'Russian Federation',
 'SZX': 'China',
 'BKI': 'Malaysia',
 'DAD': 'Vietnam',
 'LIN': 'Italy',
 'LCY': 'United Kingdom',
 'BOJ': 'Bulgaria',
 'NAP': 'Italy',
 'MLE': 'Maldives',
 'CMB': 'Sri Lanka',
 'EDI': 'United Kingdom',
 'TAS': 'Uzbekistan',
 'SCL': 'Chile',
 'FLR': 'Italy',
 'VOG': 'Russian Federation',
 'REN': 'Russian Federation',
 'LIS': 'Portugal',
 'TSN': 'China',
 'KUL': 'Malaysia',
 'CXR': 'Vietnam',
 'INC': 'China',
 'MCT': 'Oman',
 'DAC': 'Bangladesh',
 'CWL': 'United Kingdom',
 'URO': 'France',
 'BRS': 'United Kingdom',
 'ARN': 'Sweden',
 'HMA': 'Russian Federation',
 'AES': 'Norway',
 'SVG': 'Norway',
 'MAN': 'United Kingdom',
 'BDS': 'Italy',
 'nia': 'Tanza',
 'LGW': 'United Kingdom',
 'NUE': 'Germany',
 'ALB': 'United States of',
 'EWR': 'United States of',
 'PHL': 'United States of',
 'TFN': 'Spain and Canary',
 'LPA': 'Spain and Canary',
 'AVP': 'United States of',
 'FUE': 'Spain and Canary',
 'ARH': 'Russian Federation',
 'KOE': 'Indonesia',
 'PLM': 'Indonesia',
 'JOG': 'Indonesia',
 'UPG': 'Indonesia',
 'GTO': 'Indonesia',
 'ATH': 'Greece',
 'AAL': 'Denmark',
 'HYD': 'India',
 'TRV': 'India',
 'AHB': 'Saudi Arabia',
 'AKX': 'Kazakhstan',
 'PMO': 'Italy',
 'PMI': 'Spain and',
 'EZE': 'Argentina',
 'REL': 'Argentina',
 'AEP': 'Argentina',
 'NQN': 'Argentina',
 'USH': 'Argentina',
 'FTE': 'Argentina',
 'SGC': 'Russian Federation',
 'UFA': 'Russian Federation',
 'DFW': 'United States of',
 'ORF': 'United States of',
 'YYZ': 'Canada',
 'YVR': 'Canada',
 'CMH': 'United States of',
 'HNL': 'United States of',
 'ODS': 'Ukraine',
 'KJA': 'Russian Federation',
 'RIZ': 'China',
 'HIJ': 'Japan',
 'GLA': 'United Kingdom',
 'LAS': 'United States of',
 'TLV': 'Israel',
 'YWG': 'Canada',
 'DUB': 'Ireland',
 'YIW': 'China',
 'KIX': 'Japan',
 'SCO': 'Kazakhstan',
 'NGB': 'China',
 'NNG': 'China',
 'KWE': 'China',
 'SYR': 'United States of',
 'GRR': 'United States of',
 'AUS': 'United States of',
 'MSY': 'United States of',
 'BIL': 'United States of',
 'MCO': 'United States of',
 'CAE': 'United States of',
 'RNO': 'United States of',
 'DAX': 'China',
 'NOU': 'New Caledonia',
 'TLL': 'Estonia',
 'DPS': 'Indonesia',
 'ADL': 'Australia',
 'PER': 'Australia',
 'TMC': 'Indonesia',
 'HSV': 'United States of',
 'ECP': 'United States of',
 'MLB': 'United States of',
 'GPT': 'United States',
 'CNX': 'Thailand',
 'BAX': 'Russian Federation',
 'YNT': 'China',
 'KHN': 'China',
 'YNJ': 'China',
 'CLT': 'United States of',
 'LEX': 'United States of',
 'RAH': 'Saudi Arabia',
 'YNZ': 'China',
 'DSN': 'China',
 'TRS': 'Italy',
 'CGD': 'China',
 'ORN': 'Algeria',
 'CEK': 'Russian Federation',
 'IKA': 'Iran',
 'SBN': 'United States of',
 'HLN': 'United States of',
 'SNA': 'United States of',
 'NTG': 'China',
 'HDG': 'China',
 'MNL': 'Philippines',
 'PUF': 'France',
 'YUL': 'Canada',
 'CFR': 'France',
 'SAT': 'United States of',
 'SDF': 'United States of',
 'ZAG': 'Croatia',
 'SAN': 'United States of',
 'BAR': 'China',
 'PNH': 'Cambodia',
 'PIA': 'United States of America',
 'LIT': 'United States of',
 'BMV': 'Vietnam',
 'XNN': 'China',
 'PKU': 'Indonesia',
 'VIE': 'Austria',
 'PEE': 'Russian Federation',
 'LCA': 'Cyprus',
 'HRG': 'Egypt',
 'KLV': 'Czech Republic',
 'KRL': 'China',
 'ISB': 'Pakistan',
 'LUX': 'Luxembourg',
 'OVD': 'Spain and Canary Islands',
 'SKX': 'Russian Federation',
 'LJG': 'China',
 'LXA': 'China',
 'TNA': 'China',
 'PWM': 'United States of',
 'RSW': 'United States of',
 'DUS': 'Germany',
 'BNA': 'United States of',
 'LOP': 'Indonesia',
 'KZO': 'Kazakhstan',
 'GYD': 'Azerbaijan',
 'BWI': 'United States of',
 'IAD': 'United States of',
 'DEN': 'United States of',
 'CKY': 'Guinea',
 'ZYR': 'Belgium',
 'KGD': 'Russian Federation',
 'BMI': 'United States of',
 'CCS': 'Venezuela',
 'BTV': 'United States of',
 'DSS': 'Senegal',
 'ZWE': 'Belgium',
 'SIP': 'Ukraine',
 'FAR': 'United States of',
 'SAV': 'United States of',
 'CWA': 'United States of',
 'MLN': 'Spain and Canary Islands',
 'MLA': 'Malta',
 'RAK': 'Morocco',
 'HAV': 'Cuba',
 'NUX': 'Russian Federation',
 'CJS': 'Mexico',
 'MTY': 'Mexico',
 'AYT': 'Turkey',
 'TIJ': 'Mexico',
 'PQC': 'Vietnam',
 'VCA': 'Vietnam',
 'MKQ': 'Indonesia',
 'DJJ': 'Indonesia',
 'BHH': 'Saudi Arabia',
 'KIJ': 'Japan',
 'CTS': 'Japan',
 'SJC': 'United States of',
 'KHH': 'Taiwan',
 'EGO': 'Russian Federation',
 'AMM': 'Jordan',
 'JNZ': 'China',
 'HFE': 'China',
 'CKG': 'China',
 'GOT': 'Sweden',
 'ACE': 'Spain and Canary',
 'SCW': 'Russian Federation',
 'RIC': 'United States of',
 'CAG': 'Italy',
 'REG': 'Italy',
 'ATW': 'United States of',
 'MEM': 'United States of',
 'DSM': 'United States of',
 'BGW': 'Iraq',
 'SOC': 'Indonesia',
 'KNO': 'Indonesia',
 'BTJ': 'Indonesia',
 'GIZ': 'Saudi Arabia',
 'TCZ': 'China',
 'KRT': 'Sudan',
 'HAM': 'Germany',
 'SFO': 'United States',
 'MDW': 'United States of',
 'GNV': 'United States of',
 'CLE': 'United States of',
 'BHD': 'United Kingdom',
 'HLD': 'China',
 'HOU': 'United States of',
 'MBJ': 'Jamaica',
 'PSC': 'United States of',
 'VPS': 'United States of',
 'MLI': 'United States of',
 'WAE': 'Saudi Arabia',
 'LHE': 'Pakistan',
 'BSR': 'Iraq',
 'TUU': 'Saudi Arabia',
 'AKL': 'New Zealand',
 'BNE': 'Australia',
 'DTB': 'Ethiopia',
 'CZL': 'Algeria',
 'NJF': 'Iraq',
 'AZO': 'United',
 'NOZ': 'Russian Federation',
 'HBE': 'Egypt',
 'AJF': 'Saudi Arabia',
 'DME': 'Russian Federation',
 'VCS': 'Vietnam',
 'ELQ': 'Saudi Arabia',
 'AMD': 'India',
 'KOJ': 'Japan',
 'TBS': 'Georgia',
 'CZX': 'China',
 'PLW': 'Indonesia',
 'TVC': 'United States of',
 'IND': 'United States of',
 'ZRH': 'Switzerland',
 'BLL': 'Denmark',
 'BSD': 'China',
 'KXK': 'Russian Federation',
 'OSL': 'Norway',
 'CIT': 'Kazakhstan',
 'GIG': 'Brazil',
 'REC': 'Brazil',
 'FOR': 'Brazil',
 'SOU': 'United Kingdom',
 'EXT': 'United Kingdom',
 'CMF': 'France',
 'KSN': 'Kazakhstan',
 'JIQ': 'China',
 'DLI': 'Vietnam',
 'VTE': "Lao People's",
 'ALG': 'Algeria',
 'TSV': 'Australia',
 'ESB': 'Turkey',
 'XFN': 'China',
 'MDG': 'China',
 'UYN': 'China',
 'BRI': 'Italy',
 'WUA': 'China',
 'FUK': 'Japan',
 'ITM': 'Japan',
 'SLY': 'Russian Federation',
 'CHS': 'United States of',
 'COR': 'Argentina',
 'MDZ': 'Argentina',
 'GUM': 'Guam',
 'PSA': 'Italy',
 'BPN': 'Indonesia',
 'PIS': 'France',
 'BEJ': 'Indonesia',
 'TSA': 'Taiwan',
 'BPE': 'China',
 'KMQ': 'Japan',
 'ZHA': 'China',
 'APL': 'Mozambique',
 'KIS': 'Kenya',
 'SCQ': 'Spain',
 'MVD': 'Uruguay',
 'UAQ': 'Argentina',
 'HAJ': 'Germany',
 'YUS': 'China',
 'STL': 'United States of',
 'LYI': 'China',
 'KHG': 'China',
 'PTY': 'Panama',
 'CLY': 'France',
 'KBP': 'Ukraine',
 'HUY': 'United Kingdom',
 'CNS': 'Australia',
 'BOI': 'United States of America',
 'ABJ': "Cote d'Ivoire",
 'KWI': 'Kuwait',
 'CUL': 'Mexico',
 'SAL': 'El Salvador',
 'GOA': 'Italy',
 'LMM': 'Mexico',
 'PDG': 'Indonesia',
 'BTH': 'Indonesia',
 'SRQ': 'United',
 'AVL': 'United',
 'CHO': 'United States of',
 'CAK': 'United States of',
 'ABQ': 'United States of',
 'BGO': 'Norway',
 'NWI': 'United Kingdom',
 'XIC': 'China',
 'RKZ': 'China',
 'GSO': 'United',
 'MOB': 'United States of',
 'DAL': 'United States of',
 'GSP': 'United',
 'TUL': 'United States of',
 'DLU': 'China',
 'OPO': 'Portugal',
 'OKA': 'Japan',
 'CEB': 'Philippines',
 'VXO': 'Sweden',
 'ASE': 'United States of',
 'GRU': 'Brazil',
 'ABE': 'United States of',
 'TUC': 'Argentina',
 'TRC': 'Mexico',
 'ENH': 'China',
 'NCL': 'United Kingdom',
 'WDH': 'Namibia',
 'EDL': 'Kenya',
 'JIB': 'Djibouti',
 'MME': 'United Kingdom',
 'BRE': 'Germany',
 'TSE': 'Kazakhstan',
 'FNT': 'United States of America',
 'BIS': 'United States of',
 'PIH': 'United States of',
 'TLH': 'United States of',
 'UIH': 'Vietnam',
 'FSC': 'France',
 'JGS': 'China',
 'DCM': 'France',
 'MPL': 'France',
 'EBB': 'Uganda',
 'SPC': 'Spain',
 'HAS': 'Saudi Arabia',
 'LOS': 'Nigeria',
 'BGR': 'United States of',
 'CFE': 'France',
 'CID': 'United States of',
 'JAN': 'United States of',
 'AGS': 'United States of',
 'TGZ': 'Mexico',
 'BUF': 'United States of',
 'BZN': 'United States of',
 'TAP': 'Mexico',
 'SLP': 'Mexico',
 'LIG': 'France',
 'RNS': 'France',
 'DLA': 'Cameroon',
 'YIH': 'China',
 'ZAZ': 'Spain and Canary',
 'SVQ': 'Spain and Canary Islands',
 'WDS': 'China',
 'HTN': 'China',
 'AOJ': 'Japan',
 'FDF': 'Martinique',
 'PTP': 'Guadeloupe',
 'SJU': 'Puerto Rico',
 'BGI': 'Barbados',
 'CAY': 'French Guiana',
 'SBH': 'Guadeloupe',
 'SXM': 'Sint Maarten',
 'FSD': 'United States of',
 'SUF': 'Italy',
 'BVE': 'France',
 'GFK': 'United States of',
 'LTN': 'United Kingdom',
 'GRX': 'Spain and Canary',
 'MHT': 'United States of',
 'HPN': 'United',
 'MID': 'Mexico',
 'ABZ': 'United Kingdom',
 'NDG': 'China',
 'BIA': 'France',
 'JNG': 'China',
 'PUJ': 'Dominican Republic',
 'NDJ': 'Chad',
 'LFW': 'Togo',
 'LYA': 'China',
 'YEG': 'Canada',
 'OAK': 'United States of',
 'GTF': 'United States of',
 'YZY': 'China',
 'JHG': 'China',
 'SAP': 'Honduras',
 'LGB': 'United States of',
 'AKU': 'China',
 'AOG': 'China',
 'DLH': 'United States of',
 'ROC': 'United States of',
 'AMQ': 'Indonesia',
 'SCV': 'Romania',
 'HTT': 'China',
 'ULN': 'Mongolia',
 'LCG': 'Spain and Canary',
 'ADD': 'Ethiopia',
 'LRT': 'France',
 'NSI': 'Cameroon',
 'TFS': 'Spain and Canary',
 'IQM': 'China',
 'DAB': 'United States',
 'CIF': 'China',
 'LFT': 'United States of',
 'MDT': 'United States of',
 'SDQ': 'Dominican',
 'NLD': 'Mexico',
 'KSC': 'Slovakia',
 'HSN': 'China',
 'WEH': 'China',
 'LNJ': 'China',
 'BWN': 'Brunei',
 'AGF': 'France',
 'PGF': 'France',
 'OSR': 'Czech Republic',
 'BAV': 'China',
 'DWD': 'Saudi Arabia',
 'ZYI': 'China',
 'SPU': 'Croatia',
 'VVI': 'Bolivia',
 'FLN': 'Brazil',
 'BHI': 'Argentina',
 'MDQ': 'Argentina',
 'ROS': 'Argentina',
 'ASU': 'Paraguay',
 'ZLO': 'Mexico',
 'IEV': 'Ukraine',
 'MXZ': 'China',
 'JMU': 'China',
 'LDS': 'China',
 'TOY': 'Japan',
 'BLR': 'India',
 'SZV': 'China',
 'LRH': 'France',
 'BOM': 'India',
 'FNA': 'Sierra Leone',
 'NLA': 'Zambia',
 'ngo': 'Co',
 'BZV': 'Congo',
 'TKG': 'Indonesia',
 'JNB': 'South Africa',
 'LSW': 'Indonesia',
 'ZAT': 'China',
 'DNH': 'China',
 'TVX': 'China',
 'CHA': 'United States of',
 'JXS': 'China',
 'SDE': 'Argentina',
 'FAY': 'United States of',
 'LLB': 'China',
 'LFQ': 'China',
 'HPH': 'Vietnam',
 'WLG': 'New Zealand',
 'MKY': 'Australia',
 'MKW': 'Indonesia',
 'SOQ': 'Indonesia',
 'TIM': 'Indonesia',
 'RAP': 'United States of',
 'BTM': 'United States of',
 'SGU': 'United States of',
 'SBZ': 'Romania',
 'MFR': 'United States of',
 'ONT': 'United States of',
 'LBV': 'Gabon',
 'SUN': 'United',
 'BQK': 'United States of',
 'TNR': 'Madagascar',
 'ELM': 'United States',
 'HAH': 'Comoros',
 'GUW': 'Kazakhstan',
 'GYU': 'China',
 'JGD': 'China',
 'KRK': 'Poland',
 'PEW': 'Pakistan',
 'EBL': 'Iraq',
 'DRS': 'Germany',
 'BZE': 'Belize',
 'MBA': 'Kenya',
 'JUB': 'South Sudan',
 'BGF': 'Central African Republic',
 'KVN': 'China',
 'SJO': 'Costa Rica',
 'HUI': 'Vietnam',
 'YBP': 'China',
 'AEX': 'United States of',
 'PBM': 'Suriname',
 'KEF': 'Iceland',
 'NNY': 'China',
 'YSQ': 'China',
 'SKG': 'Greece',
 'CRW': 'United States of',
 'YHZ': 'Canada',
 'LPI': 'Sweden',
 'FSZ': 'Japan',
 'FRU': 'Kyrgyzstan',
 'LUM': 'China',
 'LLF': 'China',
 'SSG': 'Equatorial Guinea',
 'TRK': 'Indonesia',
 'LUW': 'Indonesia',
 'EYW': 'United States of',
 'YIN': 'China',
 'BKS': 'Indonesia',
 'OMR': 'Romania',
 'KGL': 'Rwanda',
 'BJM': 'Burundi',
 'MOF': 'Indonesia',
 'BCM': 'Romania',
 'PVR': 'Mexico',
 'PPT': 'French Polynesia',
 'LIM': 'Peru',
 'ISN': 'United States of',
 'RBA': 'Morocco',
 'FCA': 'United States of',
 'MRU': 'Mauritius',
 'BTS': 'Slovakia',
 'KGF': 'Kazakhstan',
 'AUA': 'Aruba',
 'NAN': 'Fiji',
 'WXN': 'China',
 'ABV': 'Nigeria',
 'RDM': 'United States',
 'TIV': 'Montenegro',
 'JHB': 'Malaysia',
 'SFN': 'Argentina',
 'BRC': 'Argentina',
 'CRD': 'Argentina',
 'SLA': 'Argentina',
 'LAD': 'Angola',
 'SUJ': 'Romania',
 'OUA': 'Burkina Faso',
 'SWF': 'United States of',
 'VGO': 'Spain and Canary Islands',
 'MAA': 'India',
 'LZY': 'China',
 'WUT': 'China',
 'BUR': 'United States of',
 'LBD': 'Tajikistan',
 'SEN': 'United Kingdom',
 'GYE': 'Ecuador',
 'SSA': 'Brazil',
 'LJU': 'Slovenia',
 'LWS': 'United States of',
 'TAK': 'Japan',
 'SPN': 'Northern Mariana Islands',
 'MSO': 'United States of',
 'CPE': 'Mexico',
 'YXE': 'Canada',
 'DZA': 'Mayotte',
 'POL': 'Mozambique',
 'IGR': 'Argentina',
 'EUG': 'United States of',
 'XUZ': 'China',
 'HNY': 'China',
 'BGY': 'Italy',
 'SAW': 'Turkey',
 'TLN': 'France',
 'FYN': 'China',
 'VSA': 'Mexico',
 'VER': 'Mexico',
 'FLZ': 'Indonesia',
 'TEN': 'China',
 'ZUJ': 'China',
 'DQA': 'China',
 'BDL': 'United States of',
 'EWN': 'United States of',
 'MUX': 'Pakistan',
 'HIA': 'China',
 'KIN': 'Jamaica',
 'NBX': 'Indonesia',
 'BIK': 'Indonesia',
 'PDP': 'Uruguay',
 'RES': 'Argentina',
 'TLQ': 'China',
 'VKG': 'Vietnam',
 'SEZ': 'Seychelles',
 'MDL': 'Myanmar',
 'KOW': 'China',
 'BHY': 'China',
 'YOW': 'Canada',
 'AQI': 'Saudi Arabia',
 'TIF': 'Saudi Arabia',
 'GDN': 'Poland',
 'ENY': 'China',
 'TRD': 'Norway',
 'ANC': 'United States of',
 'NYT': 'Myanmar',
 'KBV': 'Thailand',
 'HYN': 'China',
 'VLD': 'United States of',
 'TRF': 'Norway',
 'LLV': 'China',
 'BPS': 'Brazil',
 'VDM': 'Argentina',
 'ERI': 'United States of America',
 'HEK': 'China',
 'IBZ': 'Spain and Canary Islands',
 'MXL': 'Mexico',
 'LAP': 'Mexico',
 'KHI': 'Pakistan',
 'YQR': 'Canada',
 'RST': 'United States of',
 'ELP': 'United States of',
 'ABR': 'United States of',
 'SDJ': 'Japan',
 'RAE': 'Saudi Arabia',
 'QRO': 'Mexico',
 'JAC': 'United States of',
 'THD': 'Vietnam',
 'ICT': 'United States of',
 'MLU': 'United States of',
 'DHN': 'United States of',
 'CBR': 'Australia',
 'YTY': 'China',
 'VII': 'Vietnam',
 'HXD': 'China',
 'LPQ': "Lao People's",
 'LKO': 'India',
 'VDH': 'Vietnam',
 'BUW': 'Indonesia',
 'KDI': 'Indonesia',
 'PKY': 'Indonesia',
 'LAN': 'United States of',
 'SDR': 'Spain and Canary',
 'OSS': 'Kyrgyzstan',
 'FAI': 'United States of',
 'KRY': 'China',
 'MIG': 'China',
 'OHE': 'China',
 'DAY': 'United States of',
 'PAP': 'Haiti',
 'KKJ': 'Japan',
 'LGK': 'Malaysia',
 'SHW': 'Saudi Arabia',
 'ACA': 'Mexico',
 'RMQ': 'Taiwan',
 'TBB': 'Vietnam',
 'MAH': 'Spain and Canary Islands',
 'HMO': 'Mexico',
 'XDS': 'Canada',
 'PSR': 'Italy',
 'BWX': 'Indonesia',
 'WRO': 'Poland',
 'EGC': 'France',
 'MDC': 'Indonesia',
 'PHC': 'Nigeria',
 'COK': 'India',
 'ROB': 'Liberia',
 'ACC': 'Ghana',
 'TUI': 'Saudi Arabia',
 'KOA': 'United States of America',
 'PNR': 'Congo',
 'WUS': 'China',
 'CSG': 'United States of',
 'COO': 'Benin',
 'ABT': 'Saudi Arabia',
 'AFA': 'Argentina',
 'PRA': 'Argentina',
 'KLO': 'Philippines',
 'ULH': 'Saudi Arabia',
 'TPS': 'Italy',
 'INV': 'United Kingdom',
 'TTE': 'Indonesia',
 'PNK': 'Indonesia',
 'OGG': 'United States of',
 'NBS': 'China',
 'PBC': 'Mexico',
 'MZT': 'Mexico',
 'TNH': 'China',
 'YYJ': 'Canada',
 'TUS': 'United States of',
 'NIM': 'Niger',
 'SGF': 'United States of',
 'LUN': 'Zambia',
 'YXS': 'Canada',
 'ROR': 'Palau',

In [39]:
len(airport_dict)

1120

In [40]:
for k, v in airport_dict.items():
    if v.find('United') != -1:
        airport_dict[k] = 'USA'

In [41]:
airport_dict

{'BOS': 'USA',
 'PIT': 'USA',
 'GRB': 'USA',
 'DTW': 'USA',
 'LGA': 'USA',
 'SVO': 'Russian Federation',
 'WAW': 'Poland',
 'XNA': 'USA',
 'ATL': 'USA',
 'FLL': 'USA',
 'ILM': 'USA',
 'OAJ': 'USA',
 'SMF': 'USA',
 'CDG': 'France',
 'EVV': 'USA',
 'BHM': 'USA',
 'SHV': 'USA',
 'PVG': 'China',
 'NRT': 'Japan',
 'SIN': 'Singapore',
 'TPE': 'Taiwan',
 'PKC': 'Russian Federation',
 'VVO': 'Russian Federation',
 'AQG': 'China',
 'CAN': 'China',
 'TGO': 'China',
 'HET': 'China',
 'HGH': 'China',
 'rea': 'Ko',
 'TYN': 'China',
 'BQS': 'Russian',
 'SGN': 'Vietnam',
 'HEL': 'Finland',
 'PRG': 'Czech Republic',
 'KEJ': 'Russian Federation',
 'ROV': 'Russian Federation',
 'DMM': 'Saudi Arabia',
 'MED': 'Saudi Arabia',
 'DEL': 'India',
 'BSL': 'France',
 'AMS': 'Netherlands',
 'AUH': 'USA',
 'RUH': 'Saudi Arabia',
 'MAD': 'Spain and Canary Islands',
 'RTW': 'Russian Federation',
 'LIL': 'France',
 'NTE': 'France',
 'NCE': 'France',
 'MSQ': 'Belarus',
 'FRA': 'Germany',
 'SXB': 'France',
 'FCO': 'Italy',
 'LYS': 'France',
 'BES': 'France',
 'MRS': 'France',
 'ETZ': 'France',
 'IKT': 'Russian Federation',
 'GOJ': 'Russian',
 'MRV': 'Russian',
 'GVA': 'Switzerland',
 'BTR': 'USA',
 'NBC': 'Russian Federation',
 'LHR': 'USA',
 'MSP': 'USA',
 'MSN': 'USA',
 'RIX': 'Latvia',
 'JFK': 'USA',
 'PHX': 'USA',
 'TXL': 'Germany',
 'AJA': 'France',
 'ORY': 'France',
 'KHV': 'Russian Federation',
 'NJC': 'Russian',
 'UIP': 'France',
 'TLS': 'France',
 'MLH': 'France',
 'KZN': 'Russian Federation',
 'NGK': 'Russian Federation',
 'CLJ': 'Romania',
 'OTP': 'Romania',
 'RMF': 'Egypt',
 'BUD': 'Hungary',
 'CPH': 'Denmark',
 'ova': 'Mold',
 'IAS': 'Romania',
 'TOF': 'Russian Federation',
 'CPT': 'South Africa',
 'EVN': 'Armenia',
 'BEY': 'Lebanon',
 'BOD': 'France',
 'NBO': 'Kenya',
 'GDX': 'Russian Federation',
 'CMN': 'Morocco',
 'STW': 'Russian Federation',
 'NAO': 'China',
 'SHE': 'China',
 'SYX': 'China',
 'HND': 'Japan',
 'JJN': 'China',
 'DOH': 'Qatar',
 'AER': 'Russian Federation',
 'CHG': 'China',
 'PEK': 'China',
 'SVX': 'Russian Federation',
 'HMI': 'China',
 'ALA': 'Kazakhstan',
 'LED': 'Russian',
 'WUH': 'China',
 'WNZ': 'China',
 'URC': 'China',
 'SXF': 'Germany',
 'VOZ': 'Russian Federation',
 'NGS': 'Japan',
 'BLQ': 'Italy',
 'OVB': 'Russian Federation',
 'OHH': 'Russian Federation',
 'GDL': 'Mexico',
 'MEX': 'Mexico',
 'LNK': 'USA',
 'FWA': 'USA',
 'DLC': 'China',
 'BCN': 'Spain and Canary',
 'CUN': 'Mexico',
 'MIA': 'USA',
 'CUU': 'Mexico',
 'KUF': 'Russian Federation',
 'MQF': 'Russian Federation',
 'OMS': 'Russian Federation',
 'DXB': 'USA',
 'HAN': 'Vietnam',
 'KMG': 'China',
 'TAO': 'China',
 'WUX': 'China',
 'ZUH': 'China',
 'CGQ': 'China',
 'DIG': 'China',
 'LHW': 'China',
 'TYS': 'USA',
 'UUS': 'Russian Federation',
 'OKC': 'USA',
 'UIO': 'Ecuador',
 'STR': 'Germany',
 'MGM': 'USA',
 'MXP': 'Italy',
 'BHX': 'USA',
 'VLC': 'Spain and Canary Islands',
 'CGO': 'China',
 'CTA': 'Italy',
 'BKK': 'Thailand',
 'RGN': 'Myanmar',
 'HKT': 'Thailand',
 'TUN': 'Tunisia',
 'REP': 'Cambodia',
 'USM': 'Thailand',
 'TDX': 'Thailand',
 'SEA': 'USA',
 'MCI': 'USA',
 'PDX': 'USA',
 'OMA': 'USA',
 'GEG': 'USA',
 'LAX': 'USA',
 'YCU': 'China',
 'FOC': 'China',
 'XMN': 'China',
 'HAK': 'China',
 'SWA': 'China',
 'DYG': 'China',
 'HRB': 'China',
 'MEL': 'Australia',
 'SYD': 'Australia',
 'LZH': 'China',
 'ASF': 'Russian Federation',
 'BEG': 'Serbia',
 'KWL': 'China',
 'SHA': 'China',
 'CGK': 'Indonesia',
 'JED': 'Saudi Arabia',
 'CSX': 'China',
 'LYG': 'China',
 'NKG': 'China',
 'IAH': 'USA',
 'BIQ': 'France',
 'MUC': 'Germany',
 'BIO': 'Spain and Canary Islands',
 'AGP': 'Spain and Canary Islands',
 'NGO': 'Japan',
 'CTU': 'China',
 'SRG': 'Indonesia',
 'SUB': 'Indonesia',
 'YNB': 'Saudi Arabia',
 'DAT': 'China',
 'TIA': 'Albania',
 'TJM': 'Russian Federation',
 'TRN': 'Italy',
 'TGD': 'Montenegro',
 'VNO': 'Lithuania',
 'SOF': 'Bulgaria',
 'ROA': 'USA',
 'YYC': 'Canada',
 'GTR': 'USA',
 'ORD': 'USA',
 'JAX': 'USA',
 'MKE': 'USA',
 'PBI': 'USA',
 'VCE': 'Italy',
 'TSR': 'Romania',
 'ABA': 'Russian Federation',
 'JGN': 'China',
 'XIY': 'China',
 'BRU': 'Belgium',
 'VRN': 'Italy',
 'ALC': 'Spain and Canary Islands',
 'BOG': 'Colombia',
 'IST': 'Turkey',
 'SLC': 'USA',
 'VKO': 'Russian Federation',
 'CVG': 'USA',
 'SJD': 'Mexico',
 'RDU': 'USA',
 'DCA': 'USA',
 'MCX': 'Russian Federation',
 'PVD': 'USA',
 'TPA': 'USA',
 'KRR': 'Russian Federation',
 'CAI': 'Egypt',
 'MMK': 'Russian Federation',
 'AAQ': 'Russian Federation',
 'SZX': 'China',
 'BKI': 'Malaysia',
 'DAD': 'Vietnam',
 'LIN': 'Italy',
 'LCY': 'USA',
 'BOJ': 'Bulgaria',
 'NAP': 'Italy',
 'MLE': 'Maldives',
 'CMB': 'Sri Lanka',
 'EDI': 'USA',
 'TAS': 'Uzbekistan',
 'SCL': 'Chile',
 'FLR': 'Italy',
 'VOG': 'Russian Federation',
 'REN': 'Russian Federation',
 'LIS': 'Portugal',
 'TSN': 'China',
 'KUL': 'Malaysia',
 'CXR': 'Vietnam',
 'INC': 'China',
 'MCT': 'Oman',
 'DAC': 'Bangladesh',
 'CWL': 'USA',
 'URO': 'France',
 'BRS': 'USA',
 'ARN': 'Sweden',
 'HMA': 'Russian Federation',
 'AES': 'Norway',
 'SVG': 'Norway',
 'MAN': 'USA',
 'BDS': 'Italy',
 'nia': 'Tanza',
 'LGW': 'USA',
 'NUE': 'Germany',
 'ALB': 'USA',
 'EWR': 'USA',
 'PHL': 'USA',
 'TFN': 'Spain and Canary',
 'LPA': 'Spain and Canary',
 'AVP': 'USA',
 'FUE': 'Spain and Canary',
 'ARH': 'Russian Federation',
 'KOE': 'Indonesia',
 'PLM': 'Indonesia',
 'JOG': 'Indonesia',
 'UPG': 'Indonesia',
 'GTO': 'Indonesia',
 'ATH': 'Greece',
 'AAL': 'Denmark',
 'HYD': 'India',
 'TRV': 'India',
 'AHB': 'Saudi Arabia',
 'AKX': 'Kazakhstan',
 'PMO': 'Italy',
 'PMI': 'Spain and',
 'EZE': 'Argentina',
 'REL': 'Argentina',
 'AEP': 'Argentina',
 'NQN': 'Argentina',
 'USH': 'Argentina',
 'FTE': 'Argentina',
 'SGC': 'Russian Federation',
 'UFA': 'Russian Federation',
 'DFW': 'USA',
 'ORF': 'USA',
 'YYZ': 'Canada',
 'YVR': 'Canada',
 'CMH': 'USA',
 'HNL': 'USA',
 'ODS': 'Ukraine',
 'KJA': 'Russian Federation',
 'RIZ': 'China',
 'HIJ': 'Japan',
 'GLA': 'USA',
 'LAS': 'USA',
 'TLV': 'Israel',
 'YWG': 'Canada',
 'DUB': 'Ireland',
 'YIW': 'China',
 'KIX': 'Japan',
 'SCO': 'Kazakhstan',
 'NGB': 'China',
 'NNG': 'China',
 'KWE': 'China',
 'SYR': 'USA',
 'GRR': 'USA',
 'AUS': 'USA',
 'MSY': 'USA',
 'BIL': 'USA',
 'MCO': 'USA',
 'CAE': 'USA',
 'RNO': 'USA',
 'DAX': 'China',
 'NOU': 'New Caledonia',
 'TLL': 'Estonia',
 'DPS': 'Indonesia',
 'ADL': 'Australia',
 'PER': 'Australia',
 'TMC': 'Indonesia',
 'HSV': 'USA',
 'ECP': 'USA',
 'MLB': 'USA',
 'GPT': 'USA',
 'CNX': 'Thailand',
 'BAX': 'Russian Federation',
 'YNT': 'China',
 'KHN': 'China',
 'YNJ': 'China',
 'CLT': 'USA',
 'LEX': 'USA',
 'RAH': 'Saudi Arabia',
 'YNZ': 'China',
 'DSN': 'China',
 'TRS': 'Italy',
 'CGD': 'China',
 'ORN': 'Algeria',
 'CEK': 'Russian Federation',
 'IKA': 'Iran',
 'SBN': 'USA',
 'HLN': 'USA',
 'SNA': 'USA',
 'NTG': 'China',
 'HDG': 'China',
 'MNL': 'Philippines',
 'PUF': 'France',
 'YUL': 'Canada',
 'CFR': 'France',
 'SAT': 'USA',
 'SDF': 'USA',
 'ZAG': 'Croatia',
 'SAN': 'USA',
 'BAR': 'China',
 'PNH': 'Cambodia',
 'PIA': 'USA',
 'LIT': 'USA',
 'BMV': 'Vietnam',
 'XNN': 'China',
 'PKU': 'Indonesia',
 'VIE': 'Austria',
 'PEE': 'Russian Federation',
 'LCA': 'Cyprus',
 'HRG': 'Egypt',
 'KLV': 'Czech Republic',
 'KRL': 'China',
 'ISB': 'Pakistan',
 'LUX': 'Luxembourg',
 'OVD': 'Spain and Canary Islands',
 'SKX': 'Russian Federation',
 'LJG': 'China',
 'LXA': 'China',
 'TNA': 'China',
 'PWM': 'USA',
 'RSW': 'USA',
 'DUS': 'Germany',
 'BNA': 'USA',
 'LOP': 'Indonesia',
 'KZO': 'Kazakhstan',
 'GYD': 'Azerbaijan',
 'BWI': 'USA',
 'IAD': 'USA',
 'DEN': 'USA',
 'CKY': 'Guinea',
 'ZYR': 'Belgium',
 'KGD': 'Russian Federation',
 'BMI': 'USA',
 'CCS': 'Venezuela',
 'BTV': 'USA',
 'DSS': 'Senegal',
 'ZWE': 'Belgium',
 'SIP': 'Ukraine',
 'FAR': 'USA',
 'SAV': 'USA',
 'CWA': 'USA',
 'MLN': 'Spain and Canary Islands',
 'MLA': 'Malta',
 'RAK': 'Morocco',
 'HAV': 'Cuba',
 'NUX': 'Russian Federation',
 'CJS': 'Mexico',
 'MTY': 'Mexico',
 'AYT': 'Turkey',
 'TIJ': 'Mexico',
 'PQC': 'Vietnam',
 'VCA': 'Vietnam',
 'MKQ': 'Indonesia',
 'DJJ': 'Indonesia',
 'BHH': 'Saudi Arabia',
 'KIJ': 'Japan',
 'CTS': 'Japan',
 'SJC': 'USA',
 'KHH': 'Taiwan',
 'EGO': 'Russian Federation',
 'AMM': 'Jordan',
 'JNZ': 'China',
 'HFE': 'China',
 'CKG': 'China',
 'GOT': 'Sweden',
 'ACE': 'Spain and Canary',
 'SCW': 'Russian Federation',
 'RIC': 'USA',
 'CAG': 'Italy',
 'REG': 'Italy',
 'ATW': 'USA',
 'MEM': 'USA',
 'DSM': 'USA',
 'BGW': 'Iraq',
 'SOC': 'Indonesia',
 'KNO': 'Indonesia',
 'BTJ': 'Indonesia',
 'GIZ': 'Saudi Arabia',
 'TCZ': 'China',
 'KRT': 'Sudan',
 'HAM': 'Germany',
 'SFO': 'USA',
 'MDW': 'USA',
 'GNV': 'USA',
 'CLE': 'USA',
 'BHD': 'USA',
 'HLD': 'China',
 'HOU': 'USA',
 'MBJ': 'Jamaica',
 'PSC': 'USA',
 'VPS': 'USA',
 'MLI': 'USA',
 'WAE': 'Saudi Arabia',
 'LHE': 'Pakistan',
 'BSR': 'Iraq',
 'TUU': 'Saudi Arabia',
 'AKL': 'New Zealand',
 'BNE': 'Australia',
 'DTB': 'Ethiopia',
 'CZL': 'Algeria',
 'NJF': 'Iraq',
 'AZO': 'USA',
 'NOZ': 'Russian Federation',
 'HBE': 'Egypt',
 'AJF': 'Saudi Arabia',
 'DME': 'Russian Federation',
 'VCS': 'Vietnam',
 'ELQ': 'Saudi Arabia',
 'AMD': 'India',
 'KOJ': 'Japan',
 'TBS': 'Georgia',
 'CZX': 'China',
 'PLW': 'Indonesia',
 'TVC': 'USA',
 'IND': 'USA',
 'ZRH': 'Switzerland',
 'BLL': 'Denmark',
 'BSD': 'China',
 'KXK': 'Russian Federation',
 'OSL': 'Norway',
 'CIT': 'Kazakhstan',
 'GIG': 'Brazil',
 'REC': 'Brazil',
 'FOR': 'Brazil',
 'SOU': 'USA',
 'EXT': 'USA',
 'CMF': 'France',
 'KSN': 'Kazakhstan',
 'JIQ': 'China',
 'DLI': 'Vietnam',
 'VTE': "Lao People's",
 'ALG': 'Algeria',
 'TSV': 'Australia',
 'ESB': 'Turkey',
 'XFN': 'China',
 'MDG': 'China',
 'UYN': 'China',
 'BRI': 'Italy',
 'WUA': 'China',
 'FUK': 'Japan',
 'ITM': 'Japan',
 'SLY': 'Russian Federation',
 'CHS': 'USA',
 'COR': 'Argentina',
 'MDZ': 'Argentina',
 'GUM': 'Guam',
 'PSA': 'Italy',
 'BPN': 'Indonesia',
 'PIS': 'France',
 'BEJ': 'Indonesia',
 'TSA': 'Taiwan',
 'BPE': 'China',
 'KMQ': 'Japan',
 'ZHA': 'China',
 'APL': 'Mozambique',
 'KIS': 'Kenya',
 'SCQ': 'Spain',
 'MVD': 'Uruguay',
 'UAQ': 'Argentina',
 'HAJ': 'Germany',
 'YUS': 'China',
 'STL': 'USA',
 'LYI': 'China',
 'KHG': 'China',
 'PTY': 'Panama',
 'CLY': 'France',
 'KBP': 'Ukraine',
 'HUY': 'USA',
 'CNS': 'Australia',
 'BOI': 'USA',
 'ABJ': "Cote d'Ivoire",
 'KWI': 'Kuwait',
 'CUL': 'Mexico',
 'SAL': 'El Salvador',
 'GOA': 'Italy',
 'LMM': 'Mexico',
 'PDG': 'Indonesia',
 'BTH': 'Indonesia',
 'SRQ': 'USA',
 'AVL': 'USA',
 'CHO': 'USA',
 'CAK': 'USA',
 'ABQ': 'USA',
 'BGO': 'Norway',
 'NWI': 'USA',
 'XIC': 'China',
 'RKZ': 'China',
 'GSO': 'USA',
 'MOB': 'USA',
 'DAL': 'USA',
 'GSP': 'USA',
 'TUL': 'USA',
 'DLU': 'China',
 'OPO': 'Portugal',
 'OKA': 'Japan',
 'CEB': 'Philippines',
 'VXO': 'Sweden',
 'ASE': 'USA',
 'GRU': 'Brazil',
 'ABE': 'USA',
 'TUC': 'Argentina',
 'TRC': 'Mexico',
 'ENH': 'China',
 'NCL': 'USA',
 'WDH': 'Namibia',
 'EDL': 'Kenya',
 'JIB': 'Djibouti',
 'MME': 'USA',
 'BRE': 'Germany',
 'TSE': 'Kazakhstan',
 'FNT': 'USA',
 'BIS': 'USA',
 'PIH': 'USA',
 'TLH': 'USA',
 'UIH': 'Vietnam',
 'FSC': 'France',
 'JGS': 'China',
 'DCM': 'France',
 'MPL': 'France',
 'EBB': 'Uganda',
 'SPC': 'Spain',
 'HAS': 'Saudi Arabia',
 'LOS': 'Nigeria',
 'BGR': 'USA',
 'CFE': 'France',
 'CID': 'USA',
 'JAN': 'USA',
 'AGS': 'USA',
 'TGZ': 'Mexico',
 'BUF': 'USA',
 'BZN': 'USA',
 'TAP': 'Mexico',
 'SLP': 'Mexico',
 'LIG': 'France',
 'RNS': 'France',
 'DLA': 'Cameroon',
 'YIH': 'China',
 'ZAZ': 'Spain and Canary',
 'SVQ': 'Spain and Canary Islands',
 'WDS': 'China',
 'HTN': 'China',
 'AOJ': 'Japan',
 'FDF': 'Martinique',
 'PTP': 'Guadeloupe',
 'SJU': 'Puerto Rico',
 'BGI': 'Barbados',
 'CAY': 'French Guiana',
 'SBH': 'Guadeloupe',
 'SXM': 'Sint Maarten',
 'FSD': 'USA',
 'SUF': 'Italy',
 'BVE': 'France',
 'GFK': 'USA',
 'LTN': 'USA',
 'GRX': 'Spain and Canary',
 'MHT': 'USA',
 'HPN': 'USA',
 'MID': 'Mexico',
 'ABZ': 'USA',
 'NDG': 'China',
 'BIA': 'France',
 'JNG': 'China',
 'PUJ': 'Dominican Republic',
 'NDJ': 'Chad',
 'LFW': 'Togo',
 'LYA': 'China',
 'YEG': 'Canada',
 'OAK': 'USA',
 'GTF': 'USA',
 'YZY': 'China',
 'JHG': 'China',
 'SAP': 'Honduras',
 'LGB': 'USA',
 'AKU': 'China',
 'AOG': 'China',
 'DLH': 'USA',
 'ROC': 'USA',
 'AMQ': 'Indonesia',
 'SCV': 'Romania',
 'HTT': 'China',
 'ULN': 'Mongolia',
 'LCG': 'Spain and Canary',
 'ADD': 'Ethiopia',
 'LRT': 'France',
 'NSI': 'Cameroon',
 'TFS': 'Spain and Canary',
 'IQM': 'China',
 'DAB': 'USA',
 'CIF': 'China',
 'LFT': 'USA',
 'MDT': 'USA',
 'SDQ': 'Dominican',
 'NLD': 'Mexico',
 'KSC': 'Slovakia',
 'HSN': 'China',
 'WEH': 'China',
 'LNJ': 'China',
 'BWN': 'Brunei',
 'AGF': 'France',
 'PGF': 'France',
 'OSR': 'Czech Republic',
 'BAV': 'China',
 'DWD': 'Saudi Arabia',
 'ZYI': 'China',
 'SPU': 'Croatia',
 'VVI': 'Bolivia',
 'FLN': 'Brazil',
 'BHI': 'Argentina',
 'MDQ': 'Argentina',
 'ROS': 'Argentina',
 'ASU': 'Paraguay',
 'ZLO': 'Mexico',
 'IEV': 'Ukraine',
 'MXZ': 'China',
 'JMU': 'China',
 'LDS': 'China',
 'TOY': 'Japan',
 'BLR': 'India',
 'SZV': 'China',
 'LRH': 'France',
 'BOM': 'India',
 'FNA': 'Sierra Leone',
 'NLA': 'Zambia',
 'ngo': 'Co',
 'BZV': 'Congo',
 'TKG': 'Indonesia',
 'JNB': 'South Africa',
 'LSW': 'Indonesia',
 'ZAT': 'China',
 'DNH': 'China',
 'TVX': 'China',
 'CHA': 'USA',
 'JXS': 'China',
 'SDE': 'Argentina',
 'FAY': 'USA',
 'LLB': 'China',
 'LFQ': 'China',
 'HPH': 'Vietnam',
 'WLG': 'New Zealand',
 'MKY': 'Australia',
 'MKW': 'Indonesia',
 'SOQ': 'Indonesia',
 'TIM': 'Indonesia',
 'RAP': 'USA',
 'BTM': 'USA',
 'SGU': 'USA',
 'SBZ': 'Romania',
 'MFR': 'USA',
 'ONT': 'USA',
 'LBV': 'Gabon',
 'SUN': 'USA',
 'BQK': 'USA',
 'TNR': 'Madagascar',
 'ELM': 'USA',
 'HAH': 'Comoros',
 'GUW': 'Kazakhstan',
 'GYU': 'China',
 'JGD': 'China',
 'KRK': 'Poland',
 'PEW': 'Pakistan',
 'EBL': 'Iraq',
 'DRS': 'Germany',
 'BZE': 'Belize',
 'MBA': 'Kenya',
 'JUB': 'South Sudan',
 'BGF': 'Central African Republic',
 'KVN': 'China',
 'SJO': 'Costa Rica',
 'HUI': 'Vietnam',
 'YBP': 'China',
 'AEX': 'USA',
 'PBM': 'Suriname',
 'KEF': 'Iceland',
 'NNY': 'China',
 'YSQ': 'China',
 'SKG': 'Greece',
 'CRW': 'USA',
 'YHZ': 'Canada',
 'LPI': 'Sweden',
 'FSZ': 'Japan',
 'FRU': 'Kyrgyzstan',
 'LUM': 'China',
 'LLF': 'China',
 'SSG': 'Equatorial Guinea',
 'TRK': 'Indonesia',
 'LUW': 'Indonesia',
 'EYW': 'USA',
 'YIN': 'China',
 'BKS': 'Indonesia',
 'OMR': 'Romania',
 'KGL': 'Rwanda',
 'BJM': 'Burundi',
 'MOF': 'Indonesia',
 'BCM': 'Romania',
 'PVR': 'Mexico',
 'PPT': 'French Polynesia',
 'LIM': 'Peru',
 'ISN': 'USA',
 'RBA': 'Morocco',
 'FCA': 'USA',
 'MRU': 'Mauritius',
 'BTS': 'Slovakia',
 'KGF': 'Kazakhstan',
 'AUA': 'Aruba',
 'NAN': 'Fiji',
 'WXN': 'China',
 'ABV': 'Nigeria',
 'RDM': 'USA',
 'TIV': 'Montenegro',
 'JHB': 'Malaysia',
 'SFN': 'Argentina',
 'BRC': 'Argentina',
 'CRD': 'Argentina',
 'SLA': 'Argentina',
 'LAD': 'Angola',
 'SUJ': 'Romania',
 'OUA': 'Burkina Faso',
 'SWF': 'USA',
 'VGO': 'Spain and Canary Islands',
 'MAA': 'India',
 'LZY': 'China',
 'WUT': 'China',
 'BUR': 'USA',
 'LBD': 'Tajikistan',
 'SEN': 'USA',
 'GYE': 'Ecuador',
 'SSA': 'Brazil',
 'LJU': 'Slovenia',
 'LWS': 'USA',
 'TAK': 'Japan',
 'SPN': 'Northern Mariana Islands',
 'MSO': 'USA',
 'CPE': 'Mexico',
 'YXE': 'Canada',
 'DZA': 'Mayotte',
 'POL': 'Mozambique',
 'IGR': 'Argentina',
 'EUG': 'USA',
 'XUZ': 'China',
 'HNY': 'China',
 'BGY': 'Italy',
 'SAW': 'Turkey',
 'TLN': 'France',
 'FYN': 'China',
 'VSA': 'Mexico',
 'VER': 'Mexico',
 'FLZ': 'Indonesia',
 'TEN': 'China',
 'ZUJ': 'China',
 'DQA': 'China',
 'BDL': 'USA',
 'EWN': 'USA',
 'MUX': 'Pakistan',
 'HIA': 'China',
 'KIN': 'Jamaica',
 'NBX': 'Indonesia',
 'BIK': 'Indonesia',
 'PDP': 'Uruguay',
 'RES': 'Argentina',
 'TLQ': 'China',
 'VKG': 'Vietnam',
 'SEZ': 'Seychelles',
 'MDL': 'Myanmar',
 'KOW': 'China',
 'BHY': 'China',
 'YOW': 'Canada',
 'AQI': 'Saudi Arabia',
 'TIF': 'Saudi Arabia',
 'GDN': 'Poland',
 'ENY': 'China',
 'TRD': 'Norway',
 'ANC': 'USA',
 'NYT': 'Myanmar',
 'KBV': 'Thailand',
 'HYN': 'China',
 'VLD': 'USA',
 'TRF': 'Norway',
 'LLV': 'China',
 'BPS': 'Brazil',
 'VDM': 'Argentina',
 'ERI': 'USA',
 'HEK': 'China',
 'IBZ': 'Spain and Canary Islands',
 'MXL': 'Mexico',
 'LAP': 'Mexico',
 'KHI': 'Pakistan',
 'YQR': 'Canada',
 'RST': 'USA',
 'ELP': 'USA',
 'ABR': 'USA',
 'SDJ': 'Japan',
 'RAE': 'Saudi Arabia',
 'QRO': 'Mexico',
 'JAC': 'USA',
 'THD': 'Vietnam',
 'ICT': 'USA',
 'MLU': 'USA',
 'DHN': 'USA',
 'CBR': 'Australia',
 'YTY': 'China',
 'VII': 'Vietnam',
 'HXD': 'China',
 'LPQ': "Lao People's",
 'LKO': 'India',
 'VDH': 'Vietnam',
 'BUW': 'Indonesia',
 'KDI': 'Indonesia',
 'PKY': 'Indonesia',
 'LAN': 'USA',
 'SDR': 'Spain and Canary',
 'OSS': 'Kyrgyzstan',
 'FAI': 'USA',
 'KRY': 'China',
 'MIG': 'China',
 'OHE': 'China',
 'DAY': 'USA',
 'PAP': 'Haiti',
 'KKJ': 'Japan',
 'LGK': 'Malaysia',
 'SHW': 'Saudi Arabia',
 'ACA': 'Mexico',
 'RMQ': 'Taiwan',
 'TBB': 'Vietnam',
 'MAH': 'Spain and Canary Islands',
 'HMO': 'Mexico',
 'XDS': 'Canada',
 'PSR': 'Italy',
 'BWX': 'Indonesia',
 'WRO': 'Poland',
 'EGC': 'France',
 'MDC': 'Indonesia',
 'PHC': 'Nigeria',
 'COK': 'India',
 'ROB': 'Liberia',
 'ACC': 'Ghana',
 'TUI': 'Saudi Arabia',
 'KOA': 'USA',
 'PNR': 'Congo',
 'WUS': 'China',
 'CSG': 'USA',
 'COO': 'Benin',
 'ABT': 'Saudi Arabia',
 'AFA': 'Argentina',
 'PRA': 'Argentina',
 'KLO': 'Philippines',
 'ULH': 'Saudi Arabia',
 'TPS': 'Italy',
 'INV': 'USA',
 'TTE': 'Indonesia',
 'PNK': 'Indonesia',
 'OGG': 'USA',
 'NBS': 'China',
 'PBC': 'Mexico',
 'MZT': 'Mexico',
 'TNH': 'China',
 'YYJ': 'Canada',
 'TUS': 'USA',
 'NIM': 'Niger',
 'SGF': 'USA',
 'LUN': 'Zambia',
 'YXS': 'Canada',
 'ROR': 'Palau',
 'AAT': 'China',
 'CRK': 'Philippines',
 'THS': 'Thailand',
 'QSZ': 'China',
 'AUR': 'France',
 'PEN': 'Malaysia',
 'KMI': 'Japan',
 'REX': 'Mexico',
 'SJW': 'China',
 'MQT': 'USA',
 'MOT': 'USA',
 'DJB': 'Indonesia',
 'ESC': 'USA',
 'BJX': 'Mexico',
 'YLW': 'Canada',
 'SYM': 'China',
 'TAM': 'Mexico',
 'OOL': 'Australia',
 'LPF': 'China',
 'VCL': 'Vietnam',
 'LLW': 'Malawi',
 'SCE': 'USA',
 'WMT': 'China',
 'SFG': 'Guadeloupe',
 'MYJ': 'Japan',
 'STI': 'Dominican Republic',
 'MTT': 'Mexico',
 'GUA': 'Guatemala',
 'TXN': 'China',
 'CHC': 'New Zealand',
 'JXA': 'China',
 'OIT': 'Japan',
 'BDJ': 'Indonesia',
 'LBJ': 'Indonesia',
 'KTM': 'Nepal',
 'KRS': 'Norway',
 'PGK': 'Indonesia',
 'FSM': 'USA',
 'EKO': 'USA',
 'BMU': 'Indonesia',
 'WNH': 'China',
 'GMQ': 'China',
 'BKO': 'Mali',
 'URY': 'Saudi Arabia',
 'GRZ': 'Austria',
 'MLG': 'Indonesia',
 'OAX': 'Mexico',
 'CUR': 'Curacao',
 'PSP': 'USA',
 'PZI': 'China',
 'BAH': 'Bahrain',
 'LBA': 'USA',
 'DYN': 'China',
 'AGU': 'Mexico',
 'CIH': 'China',
 'CTC': 'Argentina',
 'CWB': 'Brazil',
 'NKC': 'Mauritania',
 'JIC': 'China',
 'LVI': 'Zambia',
 'NGQ': 'China',
 'INL': 'USA',
 'ACX': 'China',
 'PSU': 'Indonesia',
 'SLW': 'Mexico',
 'OKJ': 'Japan',
 'LUV': 'Indonesia',
 'JMJ': 'China',
 'SSH': 'Egypt',
 'NAS': 'Bahamas',
 'CEI': 'Thailand',
 'ORK': 'Ireland',
 'ABY': 'USA',
 'TJQ': 'Indonesia',
 'DIN': 'Vietnam',
 'HUZ': 'China',
 'GJT': 'USA',
 'FAT': 'USA',
 'ENE': 'Indonesia',
 ...}

In [43]:
import pickle

In [47]:
a_file = open("airport.pkl", "wb")
pickle.dump(airport_dict, a_file)
a_file.close()

In [49]:
d = {}
a_file = open("airport.pkl", "rb")
d = pickle.load(a_file)
a_file.close()

In [50]:
d

{'BOS': 'USA',
 'PIT': 'USA',
 'GRB': 'USA',
 'DTW': 'USA',
 'LGA': 'USA',
 'SVO': 'Russian Federation',
 'WAW': 'Poland',
 'XNA': 'USA',
 'ATL': 'USA',
 'FLL': 'USA',
 'ILM': 'USA',
 'OAJ': 'USA',
 'SMF': 'USA',
 'CDG': 'France',
 'EVV': 'USA',
 'BHM': 'USA',
 'SHV': 'USA',
 'PVG': 'China',
 'NRT': 'Japan',
 'SIN': 'Singapore',
 'TPE': 'Taiwan',
 'PKC': 'Russian Federation',
 'VVO': 'Russian Federation',
 'AQG': 'China',
 'CAN': 'China',
 'TGO': 'China',
 'HET': 'China',
 'HGH': 'China',
 'rea': 'Ko',
 'TYN': 'China',
 'BQS': 'Russian',
 'SGN': 'Vietnam',
 'HEL': 'Finland',
 'PRG': 'Czech Republic',
 'KEJ': 'Russian Federation',
 'ROV': 'Russian Federation',
 'DMM': 'Saudi Arabia',
 'MED': 'Saudi Arabia',
 'DEL': 'India',
 'BSL': 'France',
 'AMS': 'Netherlands',
 'AUH': 'USA',
 'RUH': 'Saudi Arabia',
 'MAD': 'Spain and Canary Islands',
 'RTW': 'Russian Federation',
 'LIL': 'France',
 'NTE': 'France',
 'NCE': 'France',
 'MSQ': 'Belarus',
 'FRA': 'Germany',
 'SXB': 'France',
 'FCO': 'Italy',
 'LYS': 'France',
 'BES': 'France',
 'MRS': 'France',
 'ETZ': 'France',
 'IKT': 'Russian Federation',
 'GOJ': 'Russian',
 'MRV': 'Russian',
 'GVA': 'Switzerland',
 'BTR': 'USA',
 'NBC': 'Russian Federation',
 'LHR': 'USA',
 'MSP': 'USA',
 'MSN': 'USA',
 'RIX': 'Latvia',
 'JFK': 'USA',
 'PHX': 'USA',
 'TXL': 'Germany',
 'AJA': 'France',
 'ORY': 'France',
 'KHV': 'Russian Federation',
 'NJC': 'Russian',
 'UIP': 'France',
 'TLS': 'France',
 'MLH': 'France',
 'KZN': 'Russian Federation',
 'NGK': 'Russian Federation',
 'CLJ': 'Romania',
 'OTP': 'Romania',
 'RMF': 'Egypt',
 'BUD': 'Hungary',
 'CPH': 'Denmark',
 'ova': 'Mold',
 'IAS': 'Romania',
 'TOF': 'Russian Federation',
 'CPT': 'South Africa',
 'EVN': 'Armenia',
 'BEY': 'Lebanon',
 'BOD': 'France',
 'NBO': 'Kenya',
 'GDX': 'Russian Federation',
 'CMN': 'Morocco',
 'STW': 'Russian Federation',
 'NAO': 'China',
 'SHE': 'China',
 'SYX': 'China',
 'HND': 'Japan',
 'JJN': 'China',
 'DOH': 'Qatar',
 'AER': 'Russian Federation',
 'CHG': 'China',
 'PEK': 'China',
 'SVX': 'Russian Federation',
 'HMI': 'China',
 'ALA': 'Kazakhstan',
 'LED': 'Russian',
 'WUH': 'China',
 'WNZ': 'China',
 'URC': 'China',
 'SXF': 'Germany',
 'VOZ': 'Russian Federation',
 'NGS': 'Japan',
 'BLQ': 'Italy',
 'OVB': 'Russian Federation',
 'OHH': 'Russian Federation',
 'GDL': 'Mexico',
 'MEX': 'Mexico',
 'LNK': 'USA',
 'FWA': 'USA',
 'DLC': 'China',
 'BCN': 'Spain and Canary',
 'CUN': 'Mexico',
 'MIA': 'USA',
 'CUU': 'Mexico',
 'KUF': 'Russian Federation',
 'MQF': 'Russian Federation',
 'OMS': 'Russian Federation',
 'DXB': 'USA',
 'HAN': 'Vietnam',
 'KMG': 'China',
 'TAO': 'China',
 'WUX': 'China',
 'ZUH': 'China',
 'CGQ': 'China',
 'DIG': 'China',
 'LHW': 'China',
 'TYS': 'USA',
 'UUS': 'Russian Federation',
 'OKC': 'USA',
 'UIO': 'Ecuador',
 'STR': 'Germany',
 'MGM': 'USA',
 'MXP': 'Italy',
 'BHX': 'USA',
 'VLC': 'Spain and Canary Islands',
 'CGO': 'China',
 'CTA': 'Italy',
 'BKK': 'Thailand',
 'RGN': 'Myanmar',
 'HKT': 'Thailand',
 'TUN': 'Tunisia',
 'REP': 'Cambodia',
 'USM': 'Thailand',
 'TDX': 'Thailand',
 'SEA': 'USA',
 'MCI': 'USA',
 'PDX': 'USA',
 'OMA': 'USA',
 'GEG': 'USA',
 'LAX': 'USA',
 'YCU': 'China',
 'FOC': 'China',
 'XMN': 'China',
 'HAK': 'China',
 'SWA': 'China',
 'DYG': 'China',
 'HRB': 'China',
 'MEL': 'Australia',
 'SYD': 'Australia',
 'LZH': 'China',
 'ASF': 'Russian Federation',
 'BEG': 'Serbia',
 'KWL': 'China',
 'SHA': 'China',
 'CGK': 'Indonesia',
 'JED': 'Saudi Arabia',
 'CSX': 'China',
 'LYG': 'China',
 'NKG': 'China',
 'IAH': 'USA',
 'BIQ': 'France',
 'MUC': 'Germany',
 'BIO': 'Spain and Canary Islands',
 'AGP': 'Spain and Canary Islands',
 'NGO': 'Japan',
 'CTU': 'China',
 'SRG': 'Indonesia',
 'SUB': 'Indonesia',
 'YNB': 'Saudi Arabia',
 'DAT': 'China',
 'TIA': 'Albania',
 'TJM': 'Russian Federation',
 'TRN': 'Italy',
 'TGD': 'Montenegro',
 'VNO': 'Lithuania',
 'SOF': 'Bulgaria',
 'ROA': 'USA',
 'YYC': 'Canada',
 'GTR': 'USA',
 'ORD': 'USA',
 'JAX': 'USA',
 'MKE': 'USA',
 'PBI': 'USA',
 'VCE': 'Italy',
 'TSR': 'Romania',
 'ABA': 'Russian Federation',
 'JGN': 'China',
 'XIY': 'China',
 'BRU': 'Belgium',
 'VRN': 'Italy',
 'ALC': 'Spain and Canary Islands',
 'BOG': 'Colombia',
 'IST': 'Turkey',
 'SLC': 'USA',
 'VKO': 'Russian Federation',
 'CVG': 'USA',
 'SJD': 'Mexico',
 'RDU': 'USA',
 'DCA': 'USA',
 'MCX': 'Russian Federation',
 'PVD': 'USA',
 'TPA': 'USA',
 'KRR': 'Russian Federation',
 'CAI': 'Egypt',
 'MMK': 'Russian Federation',
 'AAQ': 'Russian Federation',
 'SZX': 'China',
 'BKI': 'Malaysia',
 'DAD': 'Vietnam',
 'LIN': 'Italy',
 'LCY': 'USA',
 'BOJ': 'Bulgaria',
 'NAP': 'Italy',
 'MLE': 'Maldives',
 'CMB': 'Sri Lanka',
 'EDI': 'USA',
 'TAS': 'Uzbekistan',
 'SCL': 'Chile',
 'FLR': 'Italy',
 'VOG': 'Russian Federation',
 'REN': 'Russian Federation',
 'LIS': 'Portugal',
 'TSN': 'China',
 'KUL': 'Malaysia',
 'CXR': 'Vietnam',
 'INC': 'China',
 'MCT': 'Oman',
 'DAC': 'Bangladesh',
 'CWL': 'USA',
 'URO': 'France',
 'BRS': 'USA',
 'ARN': 'Sweden',
 'HMA': 'Russian Federation',
 'AES': 'Norway',
 'SVG': 'Norway',
 'MAN': 'USA',
 'BDS': 'Italy',
 'nia': 'Tanza',
 'LGW': 'USA',
 'NUE': 'Germany',
 'ALB': 'USA',
 'EWR': 'USA',
 'PHL': 'USA',
 'TFN': 'Spain and Canary',
 'LPA': 'Spain and Canary',
 'AVP': 'USA',
 'FUE': 'Spain and Canary',
 'ARH': 'Russian Federation',
 'KOE': 'Indonesia',
 'PLM': 'Indonesia',
 'JOG': 'Indonesia',
 'UPG': 'Indonesia',
 'GTO': 'Indonesia',
 'ATH': 'Greece',
 'AAL': 'Denmark',
 'HYD': 'India',
 'TRV': 'India',
 'AHB': 'Saudi Arabia',
 'AKX': 'Kazakhstan',
 'PMO': 'Italy',
 'PMI': 'Spain and',
 'EZE': 'Argentina',
 'REL': 'Argentina',
 'AEP': 'Argentina',
 'NQN': 'Argentina',
 'USH': 'Argentina',
 'FTE': 'Argentina',
 'SGC': 'Russian Federation',
 'UFA': 'Russian Federation',
 'DFW': 'USA',
 'ORF': 'USA',
 'YYZ': 'Canada',
 'YVR': 'Canada',
 'CMH': 'USA',
 'HNL': 'USA',
 'ODS': 'Ukraine',
 'KJA': 'Russian Federation',
 'RIZ': 'China',
 'HIJ': 'Japan',
 'GLA': 'USA',
 'LAS': 'USA',
 'TLV': 'Israel',
 'YWG': 'Canada',
 'DUB': 'Ireland',
 'YIW': 'China',
 'KIX': 'Japan',
 'SCO': 'Kazakhstan',
 'NGB': 'China',
 'NNG': 'China',
 'KWE': 'China',
 'SYR': 'USA',
 'GRR': 'USA',
 'AUS': 'USA',
 'MSY': 'USA',
 'BIL': 'USA',
 'MCO': 'USA',
 'CAE': 'USA',
 'RNO': 'USA',
 'DAX': 'China',
 'NOU': 'New Caledonia',
 'TLL': 'Estonia',
 'DPS': 'Indonesia',
 'ADL': 'Australia',
 'PER': 'Australia',
 'TMC': 'Indonesia',
 'HSV': 'USA',
 'ECP': 'USA',
 'MLB': 'USA',
 'GPT': 'USA',
 'CNX': 'Thailand',
 'BAX': 'Russian Federation',
 'YNT': 'China',
 'KHN': 'China',
 'YNJ': 'China',
 'CLT': 'USA',
 'LEX': 'USA',
 'RAH': 'Saudi Arabia',
 'YNZ': 'China',
 'DSN': 'China',
 'TRS': 'Italy',
 'CGD': 'China',
 'ORN': 'Algeria',
 'CEK': 'Russian Federation',
 'IKA': 'Iran',
 'SBN': 'USA',
 'HLN': 'USA',
 'SNA': 'USA',
 'NTG': 'China',
 'HDG': 'China',
 'MNL': 'Philippines',
 'PUF': 'France',
 'YUL': 'Canada',
 'CFR': 'France',
 'SAT': 'USA',
 'SDF': 'USA',
 'ZAG': 'Croatia',
 'SAN': 'USA',
 'BAR': 'China',
 'PNH': 'Cambodia',
 'PIA': 'USA',
 'LIT': 'USA',
 'BMV': 'Vietnam',
 'XNN': 'China',
 'PKU': 'Indonesia',
 'VIE': 'Austria',
 'PEE': 'Russian Federation',
 'LCA': 'Cyprus',
 'HRG': 'Egypt',
 'KLV': 'Czech Republic',
 'KRL': 'China',
 'ISB': 'Pakistan',
 'LUX': 'Luxembourg',
 'OVD': 'Spain and Canary Islands',
 'SKX': 'Russian Federation',
 'LJG': 'China',
 'LXA': 'China',
 'TNA': 'China',
 'PWM': 'USA',
 'RSW': 'USA',
 'DUS': 'Germany',
 'BNA': 'USA',
 'LOP': 'Indonesia',
 'KZO': 'Kazakhstan',
 'GYD': 'Azerbaijan',
 'BWI': 'USA',
 'IAD': 'USA',
 'DEN': 'USA',
 'CKY': 'Guinea',
 'ZYR': 'Belgium',
 'KGD': 'Russian Federation',
 'BMI': 'USA',
 'CCS': 'Venezuela',
 'BTV': 'USA',
 'DSS': 'Senegal',
 'ZWE': 'Belgium',
 'SIP': 'Ukraine',
 'FAR': 'USA',
 'SAV': 'USA',
 'CWA': 'USA',
 'MLN': 'Spain and Canary Islands',
 'MLA': 'Malta',
 'RAK': 'Morocco',
 'HAV': 'Cuba',
 'NUX': 'Russian Federation',
 'CJS': 'Mexico',
 'MTY': 'Mexico',
 'AYT': 'Turkey',
 'TIJ': 'Mexico',
 'PQC': 'Vietnam',
 'VCA': 'Vietnam',
 'MKQ': 'Indonesia',
 'DJJ': 'Indonesia',
 'BHH': 'Saudi Arabia',
 'KIJ': 'Japan',
 'CTS': 'Japan',
 'SJC': 'USA',
 'KHH': 'Taiwan',
 'EGO': 'Russian Federation',
 'AMM': 'Jordan',
 'JNZ': 'China',
 'HFE': 'China',
 'CKG': 'China',
 'GOT': 'Sweden',
 'ACE': 'Spain and Canary',
 'SCW': 'Russian Federation',
 'RIC': 'USA',
 'CAG': 'Italy',
 'REG': 'Italy',
 'ATW': 'USA',
 'MEM': 'USA',
 'DSM': 'USA',
 'BGW': 'Iraq',
 'SOC': 'Indonesia',
 'KNO': 'Indonesia',
 'BTJ': 'Indonesia',
 'GIZ': 'Saudi Arabia',
 'TCZ': 'China',
 'KRT': 'Sudan',
 'HAM': 'Germany',
 'SFO': 'USA',
 'MDW': 'USA',
 'GNV': 'USA',
 'CLE': 'USA',
 'BHD': 'USA',
 'HLD': 'China',
 'HOU': 'USA',
 'MBJ': 'Jamaica',
 'PSC': 'USA',
 'VPS': 'USA',
 'MLI': 'USA',
 'WAE': 'Saudi Arabia',
 'LHE': 'Pakistan',
 'BSR': 'Iraq',
 'TUU': 'Saudi Arabia',
 'AKL': 'New Zealand',
 'BNE': 'Australia',
 'DTB': 'Ethiopia',
 'CZL': 'Algeria',
 'NJF': 'Iraq',
 'AZO': 'USA',
 'NOZ': 'Russian Federation',
 'HBE': 'Egypt',
 'AJF': 'Saudi Arabia',
 'DME': 'Russian Federation',
 'VCS': 'Vietnam',
 'ELQ': 'Saudi Arabia',
 'AMD': 'India',
 'KOJ': 'Japan',
 'TBS': 'Georgia',
 'CZX': 'China',
 'PLW': 'Indonesia',
 'TVC': 'USA',
 'IND': 'USA',
 'ZRH': 'Switzerland',
 'BLL': 'Denmark',
 'BSD': 'China',
 'KXK': 'Russian Federation',
 'OSL': 'Norway',
 'CIT': 'Kazakhstan',
 'GIG': 'Brazil',
 'REC': 'Brazil',
 'FOR': 'Brazil',
 'SOU': 'USA',
 'EXT': 'USA',
 'CMF': 'France',
 'KSN': 'Kazakhstan',
 'JIQ': 'China',
 'DLI': 'Vietnam',
 'VTE': "Lao People's",
 'ALG': 'Algeria',
 'TSV': 'Australia',
 'ESB': 'Turkey',
 'XFN': 'China',
 'MDG': 'China',
 'UYN': 'China',
 'BRI': 'Italy',
 'WUA': 'China',
 'FUK': 'Japan',
 'ITM': 'Japan',
 'SLY': 'Russian Federation',
 'CHS': 'USA',
 'COR': 'Argentina',
 'MDZ': 'Argentina',
 'GUM': 'Guam',
 'PSA': 'Italy',
 'BPN': 'Indonesia',
 'PIS': 'France',
 'BEJ': 'Indonesia',
 'TSA': 'Taiwan',
 'BPE': 'China',
 'KMQ': 'Japan',
 'ZHA': 'China',
 'APL': 'Mozambique',
 'KIS': 'Kenya',
 'SCQ': 'Spain',
 'MVD': 'Uruguay',
 'UAQ': 'Argentina',
 'HAJ': 'Germany',
 'YUS': 'China',
 'STL': 'USA',
 'LYI': 'China',
 'KHG': 'China',
 'PTY': 'Panama',
 'CLY': 'France',
 'KBP': 'Ukraine',
 'HUY': 'USA',
 'CNS': 'Australia',
 'BOI': 'USA',
 'ABJ': "Cote d'Ivoire",
 'KWI': 'Kuwait',
 'CUL': 'Mexico',
 'SAL': 'El Salvador',
 'GOA': 'Italy',
 'LMM': 'Mexico',
 'PDG': 'Indonesia',
 'BTH': 'Indonesia',
 'SRQ': 'USA',
 'AVL': 'USA',
 'CHO': 'USA',
 'CAK': 'USA',
 'ABQ': 'USA',
 'BGO': 'Norway',
 'NWI': 'USA',
 'XIC': 'China',
 'RKZ': 'China',
 'GSO': 'USA',
 'MOB': 'USA',
 'DAL': 'USA',
 'GSP': 'USA',
 'TUL': 'USA',
 'DLU': 'China',
 'OPO': 'Portugal',
 'OKA': 'Japan',
 'CEB': 'Philippines',
 'VXO': 'Sweden',
 'ASE': 'USA',
 'GRU': 'Brazil',
 'ABE': 'USA',
 'TUC': 'Argentina',
 'TRC': 'Mexico',
 'ENH': 'China',
 'NCL': 'USA',
 'WDH': 'Namibia',
 'EDL': 'Kenya',
 'JIB': 'Djibouti',
 'MME': 'USA',
 'BRE': 'Germany',
 'TSE': 'Kazakhstan',
 'FNT': 'USA',
 'BIS': 'USA',
 'PIH': 'USA',
 'TLH': 'USA',
 'UIH': 'Vietnam',
 'FSC': 'France',
 'JGS': 'China',
 'DCM': 'France',
 'MPL': 'France',
 'EBB': 'Uganda',
 'SPC': 'Spain',
 'HAS': 'Saudi Arabia',
 'LOS': 'Nigeria',
 'BGR': 'USA',
 'CFE': 'France',
 'CID': 'USA',
 'JAN': 'USA',
 'AGS': 'USA',
 'TGZ': 'Mexico',
 'BUF': 'USA',
 'BZN': 'USA',
 'TAP': 'Mexico',
 'SLP': 'Mexico',
 'LIG': 'France',
 'RNS': 'France',
 'DLA': 'Cameroon',
 'YIH': 'China',
 'ZAZ': 'Spain and Canary',
 'SVQ': 'Spain and Canary Islands',
 'WDS': 'China',
 'HTN': 'China',
 'AOJ': 'Japan',
 'FDF': 'Martinique',
 'PTP': 'Guadeloupe',
 'SJU': 'Puerto Rico',
 'BGI': 'Barbados',
 'CAY': 'French Guiana',
 'SBH': 'Guadeloupe',
 'SXM': 'Sint Maarten',
 'FSD': 'USA',
 'SUF': 'Italy',
 'BVE': 'France',
 'GFK': 'USA',
 'LTN': 'USA',
 'GRX': 'Spain and Canary',
 'MHT': 'USA',
 'HPN': 'USA',
 'MID': 'Mexico',
 'ABZ': 'USA',
 'NDG': 'China',
 'BIA': 'France',
 'JNG': 'China',
 'PUJ': 'Dominican Republic',
 'NDJ': 'Chad',
 'LFW': 'Togo',
 'LYA': 'China',
 'YEG': 'Canada',
 'OAK': 'USA',
 'GTF': 'USA',
 'YZY': 'China',
 'JHG': 'China',
 'SAP': 'Honduras',
 'LGB': 'USA',
 'AKU': 'China',
 'AOG': 'China',
 'DLH': 'USA',
 'ROC': 'USA',
 'AMQ': 'Indonesia',
 'SCV': 'Romania',
 'HTT': 'China',
 'ULN': 'Mongolia',
 'LCG': 'Spain and Canary',
 'ADD': 'Ethiopia',
 'LRT': 'France',
 'NSI': 'Cameroon',
 'TFS': 'Spain and Canary',
 'IQM': 'China',
 'DAB': 'USA',
 'CIF': 'China',
 'LFT': 'USA',
 'MDT': 'USA',
 'SDQ': 'Dominican',
 'NLD': 'Mexico',
 'KSC': 'Slovakia',
 'HSN': 'China',
 'WEH': 'China',
 'LNJ': 'China',
 'BWN': 'Brunei',
 'AGF': 'France',
 'PGF': 'France',
 'OSR': 'Czech Republic',
 'BAV': 'China',
 'DWD': 'Saudi Arabia',
 'ZYI': 'China',
 'SPU': 'Croatia',
 'VVI': 'Bolivia',
 'FLN': 'Brazil',
 'BHI': 'Argentina',
 'MDQ': 'Argentina',
 'ROS': 'Argentina',
 'ASU': 'Paraguay',
 'ZLO': 'Mexico',
 'IEV': 'Ukraine',
 'MXZ': 'China',
 'JMU': 'China',
 'LDS': 'China',
 'TOY': 'Japan',
 'BLR': 'India',
 'SZV': 'China',
 'LRH': 'France',
 'BOM': 'India',
 'FNA': 'Sierra Leone',
 'NLA': 'Zambia',
 'ngo': 'Co',
 'BZV': 'Congo',
 'TKG': 'Indonesia',
 'JNB': 'South Africa',
 'LSW': 'Indonesia',
 'ZAT': 'China',
 'DNH': 'China',
 'TVX': 'China',
 'CHA': 'USA',
 'JXS': 'China',
 'SDE': 'Argentina',
 'FAY': 'USA',
 'LLB': 'China',
 'LFQ': 'China',
 'HPH': 'Vietnam',
 'WLG': 'New Zealand',
 'MKY': 'Australia',
 'MKW': 'Indonesia',
 'SOQ': 'Indonesia',
 'TIM': 'Indonesia',
 'RAP': 'USA',
 'BTM': 'USA',
 'SGU': 'USA',
 'SBZ': 'Romania',
 'MFR': 'USA',
 'ONT': 'USA',
 'LBV': 'Gabon',
 'SUN': 'USA',
 'BQK': 'USA',
 'TNR': 'Madagascar',
 'ELM': 'USA',
 'HAH': 'Comoros',
 'GUW': 'Kazakhstan',
 'GYU': 'China',
 'JGD': 'China',
 'KRK': 'Poland',
 'PEW': 'Pakistan',
 'EBL': 'Iraq',
 'DRS': 'Germany',
 'BZE': 'Belize',
 'MBA': 'Kenya',
 'JUB': 'South Sudan',
 'BGF': 'Central African Republic',
 'KVN': 'China',
 'SJO': 'Costa Rica',
 'HUI': 'Vietnam',
 'YBP': 'China',
 'AEX': 'USA',
 'PBM': 'Suriname',
 'KEF': 'Iceland',
 'NNY': 'China',
 'YSQ': 'China',
 'SKG': 'Greece',
 'CRW': 'USA',
 'YHZ': 'Canada',
 'LPI': 'Sweden',
 'FSZ': 'Japan',
 'FRU': 'Kyrgyzstan',
 'LUM': 'China',
 'LLF': 'China',
 'SSG': 'Equatorial Guinea',
 'TRK': 'Indonesia',
 'LUW': 'Indonesia',
 'EYW': 'USA',
 'YIN': 'China',
 'BKS': 'Indonesia',
 'OMR': 'Romania',
 'KGL': 'Rwanda',
 'BJM': 'Burundi',
 'MOF': 'Indonesia',
 'BCM': 'Romania',
 'PVR': 'Mexico',
 'PPT': 'French Polynesia',
 'LIM': 'Peru',
 'ISN': 'USA',
 'RBA': 'Morocco',
 'FCA': 'USA',
 'MRU': 'Mauritius',
 'BTS': 'Slovakia',
 'KGF': 'Kazakhstan',
 'AUA': 'Aruba',
 'NAN': 'Fiji',
 'WXN': 'China',
 'ABV': 'Nigeria',
 'RDM': 'USA',
 'TIV': 'Montenegro',
 'JHB': 'Malaysia',
 'SFN': 'Argentina',
 'BRC': 'Argentina',
 'CRD': 'Argentina',
 'SLA': 'Argentina',
 'LAD': 'Angola',
 'SUJ': 'Romania',
 'OUA': 'Burkina Faso',
 'SWF': 'USA',
 'VGO': 'Spain and Canary Islands',
 'MAA': 'India',
 'LZY': 'China',
 'WUT': 'China',
 'BUR': 'USA',
 'LBD': 'Tajikistan',
 'SEN': 'USA',
 'GYE': 'Ecuador',
 'SSA': 'Brazil',
 'LJU': 'Slovenia',
 'LWS': 'USA',
 'TAK': 'Japan',
 'SPN': 'Northern Mariana Islands',
 'MSO': 'USA',
 'CPE': 'Mexico',
 'YXE': 'Canada',
 'DZA': 'Mayotte',
 'POL': 'Mozambique',
 'IGR': 'Argentina',
 'EUG': 'USA',
 'XUZ': 'China',
 'HNY': 'China',
 'BGY': 'Italy',
 'SAW': 'Turkey',
 'TLN': 'France',
 'FYN': 'China',
 'VSA': 'Mexico',
 'VER': 'Mexico',
 'FLZ': 'Indonesia',
 'TEN': 'China',
 'ZUJ': 'China',
 'DQA': 'China',
 'BDL': 'USA',
 'EWN': 'USA',
 'MUX': 'Pakistan',
 'HIA': 'China',
 'KIN': 'Jamaica',
 'NBX': 'Indonesia',
 'BIK': 'Indonesia',
 'PDP': 'Uruguay',
 'RES': 'Argentina',
 'TLQ': 'China',
 'VKG': 'Vietnam',
 'SEZ': 'Seychelles',
 'MDL': 'Myanmar',
 'KOW': 'China',
 'BHY': 'China',
 'YOW': 'Canada',
 'AQI': 'Saudi Arabia',
 'TIF': 'Saudi Arabia',
 'GDN': 'Poland',
 'ENY': 'China',
 'TRD': 'Norway',
 'ANC': 'USA',
 'NYT': 'Myanmar',
 'KBV': 'Thailand',
 'HYN': 'China',
 'VLD': 'USA',
 'TRF': 'Norway',
 'LLV': 'China',
 'BPS': 'Brazil',
 'VDM': 'Argentina',
 'ERI': 'USA',
 'HEK': 'China',
 'IBZ': 'Spain and Canary Islands',
 'MXL': 'Mexico',
 'LAP': 'Mexico',
 'KHI': 'Pakistan',
 'YQR': 'Canada',
 'RST': 'USA',
 'ELP': 'USA',
 'ABR': 'USA',
 'SDJ': 'Japan',
 'RAE': 'Saudi Arabia',
 'QRO': 'Mexico',
 'JAC': 'USA',
 'THD': 'Vietnam',
 'ICT': 'USA',
 'MLU': 'USA',
 'DHN': 'USA',
 'CBR': 'Australia',
 'YTY': 'China',
 'VII': 'Vietnam',
 'HXD': 'China',
 'LPQ': "Lao People's",
 'LKO': 'India',
 'VDH': 'Vietnam',
 'BUW': 'Indonesia',
 'KDI': 'Indonesia',
 'PKY': 'Indonesia',
 'LAN': 'USA',
 'SDR': 'Spain and Canary',
 'OSS': 'Kyrgyzstan',
 'FAI': 'USA',
 'KRY': 'China',
 'MIG': 'China',
 'OHE': 'China',
 'DAY': 'USA',
 'PAP': 'Haiti',
 'KKJ': 'Japan',
 'LGK': 'Malaysia',
 'SHW': 'Saudi Arabia',
 'ACA': 'Mexico',
 'RMQ': 'Taiwan',
 'TBB': 'Vietnam',
 'MAH': 'Spain and Canary Islands',
 'HMO': 'Mexico',
 'XDS': 'Canada',
 'PSR': 'Italy',
 'BWX': 'Indonesia',
 'WRO': 'Poland',
 'EGC': 'France',
 'MDC': 'Indonesia',
 'PHC': 'Nigeria',
 'COK': 'India',
 'ROB': 'Liberia',
 'ACC': 'Ghana',
 'TUI': 'Saudi Arabia',
 'KOA': 'USA',
 'PNR': 'Congo',
 'WUS': 'China',
 'CSG': 'USA',
 'COO': 'Benin',
 'ABT': 'Saudi Arabia',
 'AFA': 'Argentina',
 'PRA': 'Argentina',
 'KLO': 'Philippines',
 'ULH': 'Saudi Arabia',
 'TPS': 'Italy',
 'INV': 'USA',
 'TTE': 'Indonesia',
 'PNK': 'Indonesia',
 'OGG': 'USA',
 'NBS': 'China',
 'PBC': 'Mexico',
 'MZT': 'Mexico',
 'TNH': 'China',
 'YYJ': 'Canada',
 'TUS': 'USA',
 'NIM': 'Niger',
 'SGF': 'USA',
 'LUN': 'Zambia',
 'YXS': 'Canada',
 'ROR': 'Palau',
 'AAT': 'China',
 'CRK': 'Philippines',
 'THS': 'Thailand',
 'QSZ': 'China',
 'AUR': 'France',
 'PEN': 'Malaysia',
 'KMI': 'Japan',
 'REX': 'Mexico',
 'SJW': 'China',
 'MQT': 'USA',
 'MOT': 'USA',
 'DJB': 'Indonesia',
 'ESC': 'USA',
 'BJX': 'Mexico',
 'YLW': 'Canada',
 'SYM': 'China',
 'TAM': 'Mexico',
 'OOL': 'Australia',
 'LPF': 'China',
 'VCL': 'Vietnam',
 'LLW': 'Malawi',
 'SCE': 'USA',
 'WMT': 'China',
 'SFG': 'Guadeloupe',
 'MYJ': 'Japan',
 'STI': 'Dominican Republic',
 'MTT': 'Mexico',
 'GUA': 'Guatemala',
 'TXN': 'China',
 'CHC': 'New Zealand',
 'JXA': 'China',
 'OIT': 'Japan',
 'BDJ': 'Indonesia',
 'LBJ': 'Indonesia',
 'KTM': 'Nepal',
 'KRS': 'Norway',
 'PGK': 'Indonesia',
 'FSM': 'USA',
 'EKO': 'USA',
 'BMU': 'Indonesia',
 'WNH': 'China',
 'GMQ': 'China',
 'BKO': 'Mali',
 'URY': 'Saudi Arabia',
 'GRZ': 'Austria',
 'MLG': 'Indonesia',
 'OAX': 'Mexico',
 'CUR': 'Curacao',
 'PSP': 'USA',
 'PZI': 'China',
 'BAH': 'Bahrain',
 'LBA': 'USA',
 'DYN': 'China',
 'AGU': 'Mexico',
 'CIH': 'China',
 'CTC': 'Argentina',
 'CWB': 'Brazil',
 'NKC': 'Mauritania',
 'JIC': 'China',
 'LVI': 'Zambia',
 'NGQ': 'China',
 'INL': 'USA',
 'ACX': 'China',
 'PSU': 'Indonesia',
 'SLW': 'Mexico',
 'OKJ': 'Japan',
 'LUV': 'Indonesia',
 'JMJ': 'China',
 'SSH': 'Egypt',
 'NAS': 'Bahamas',
 'CEI': 'Thailand',
 'ORK': 'Ireland',
 'ABY': 'USA',
 'TJQ': 'Indonesia',
 'DIN': 'Vietnam',
 'HUZ': 'China',
 'GJT': 'USA',
 'FAT': 'USA',
 'ENE': 'Indonesia',
 ...}

In [3]:
df1 = pd.read_csv('data/new_with_flights.csv', index_col='id')

D:\Programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,3,4,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
D:\Programs\Anaconda\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

### Добавим к датасету страну вылета и прилета

In [56]:
df1['from_country'] = ['' if pd.isna(elem[3]) else airport_dict.get(elem[3], '') for elem in df1.values]

In [57]:
df1

,name,travel_doc,ticket,from,dest,depart_date,flight_code,flights,from_country
id,,,,,,,,,
0,ОЗЕРОВ ИЛЬДАР ДАНИИЛОВИЧ,9375 053270,7360415302044672,SVO,OVB,2017-05-30,SU1306,1,Russian Federation
1,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,7398421117936516,MMK,SVO,2017-12-27,SU1323,7,Russian Federation
2,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,3236309381479419,SVO,VOZ,2017-10-05,SU1352,7,Russian Federation
3,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,1780749303073720,KZN,SVO,2017-05-12,SU1277,7,Russian Federation
4,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,8628 286151,5444574787241301,IKT,SVO,2017-02-14,SU1443,7,Russian Federation
...,...,...,...,...,...,...,...,...,...
1558375,BONDAREVA STEFANIYA,NaN,NaN,VNO,SVO,2017-03-25,SU2105,24,Lithuania
1558376,BONDAREVA STEFANIYA,NaN,NaN,SEA,LAX,2017-05-23,DL920,24,USA
1558377,BONDAREVA STEFANIYA,NaN,NaN,SLC,LAS,2017-07-06,DL5754,24,USA
1558378,BONDAREVA STEFANIYA,NaN,NaN,OVB,LED,2017-01-13,SU6542,24,Russian Federation
1558379,BONDAREVA STEFANIYA,NaN,NaN,NRT,SEA,2017-04-27,KE3126,24,Japan

In [58]:
df1['dest_country'] = ['' if pd.isna(elem[4]) else airport_dict.get(elem[4], '') for elem in df1.values]

In [61]:
df1.to_csv(r'data/new_with_flights.csv', index_label='id')

In [62]:
df1

,name,travel_doc,ticket,from,dest,depart_date,flight_code,flights,from_country,dest_country
id,,,,,,,,,,
0,ОЗЕРОВ ИЛЬДАР ДАНИИЛОВИЧ,9375 053270,7360415302044672,SVO,OVB,2017-05-30,SU1306,1,Russian Federation,Russian Federation
1,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,7398421117936516,MMK,SVO,2017-12-27,SU1323,7,Russian Federation,Russian Federation
2,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,3236309381479419,SVO,VOZ,2017-10-05,SU1352,7,Russian Federation,Russian Federation
3,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,1780749303073720,KZN,SVO,2017-05-12,SU1277,7,Russian Federation,Russian Federation
4,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,8628 286151,5444574787241301,IKT,SVO,2017-02-14,SU1443,7,Russian Federation,Russian Federation
...,...,...,...,...,...,...,...,...,...,...
1558375,BONDAREVA STEFANIYA,NaN,NaN,VNO,SVO,2017-03-25,SU2105,24,Lithuania,Russian Federation
1558376,BONDAREVA STEFANIYA,NaN,NaN,SEA,LAX,2017-05-23,DL920,24,USA,USA
1558377,BONDAREVA STEFANIYA,NaN,NaN,SLC,LAS,2017-07-06,DL5754,24,USA,USA
1558378,BONDAREVA STEFANIYA,NaN,NaN,OVB,LED,2017-01-13,SU6542,24,Russian Federation,Russian
1558379,BONDAREVA STEFANIYA,NaN,NaN,NRT,SEA,2017-04-27,KE3126,24,Japan,USA

In [63]:
df_new = df1[df1['flights'] > 3]

In [65]:
df_new.reset_index(drop=True, inplace=True)

In [66]:
df_new

,name,travel_doc,ticket,from,dest,depart_date,flight_code,flights,from_country,dest_country
0,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,7398421117936516,MMK,SVO,2017-12-27,SU1323,7,Russian Federation,Russian Federation
1,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,3236309381479419,SVO,VOZ,2017-10-05,SU1352,7,Russian Federation,Russian Federation
2,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,2244 645520,1780749303073720,KZN,SVO,2017-05-12,SU1277,7,Russian Federation,Russian Federation
3,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,8628 286151,5444574787241301,IKT,SVO,2017-02-14,SU1443,7,Russian Federation,Russian Federation
4,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,55 3274893,1608576104884025,VOZ,SVO,2017-11-11,SU1355,7,Russian Federation,Russian Federation
...,...,...,...,...,...,...,...,...,...,...
1009222,BONDAREVA STEFANIYA,NaN,NaN,VNO,SVO,2017-03-25,SU2105,24,Lithuania,Russian Federation
1009223,BONDAREVA STEFANIYA,NaN,NaN,SEA,LAX,2017-05-23,DL920,24,USA,USA
1009224,BONDAREVA STEFANIYA,NaN,NaN,SLC,LAS,2017-07-06,DL5754,24,USA,USA
1009225,BONDAREVA STEFANIYA,NaN,NaN,OVB,LED,2017-01-13,SU6542,24,Russian Federation,Russian
1009226,BONDAREVA STEFANIYA,NaN,NaN,NRT,SEA,2017-04-27,KE3126,24,Japan,USA

In [81]:
df

                                  name  not_ok_flights  flights  percentage
id
0           КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ               3        7    0.428571
1      ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА               1        5    0.200000
2             ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ               0        5    0.000000
3          НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ               2        6    0.333333
4             ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ               0        6    0.000000
...                                ...             ...      ...         ...
82908                 KASATKIN VALERIY               0       23    0.000000
82909                    KOZLOVA AGATA               0       17    0.000000
82910                PANTELEEVA KARINA               0       18    0.000000
82911                  NAZAROVA SOF'YA               0       19    0.000000
82912              BONDAREVA STEFANIYA               0       24    0.000000

[82913 rows x 4 columns]

In [89]:
cross_country = pd.DataFrame(columns=['name', 'cross_country'])

### Считаем международные перелеты

In [86]:
def count_not_cross_country_flights(dataframe):
    prev = ''
    count = 0
    for elem in dataframe.values:
        if elem[8] == '' or elem[9] == '':
            continue
        if elem[8] != elem[9]:
            count += 1
    return count

In [90]:
value = 10000
unique_names = df_new.name.unique()
for i in range (len(unique_names)):
    name = unique_names[i]
    sub_df = df_new[df_new['name'] == name].sort_values(by='depart_date')
    cross = count_not_cross_country_flights(sub_df)
    cross_country.loc[i] = [name] + [cross]
    if i == value:
        print(i)
        value += 10000

10000
20000
30000
40000
50000
60000
70000
80000

In [91]:
cross_country

                                  name cross_country
0           КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ             0
1      ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА             0
2             ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ             0
3          НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ             0
4             ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ             0
...                                ...           ...
82908                 KASATKIN VALERIY            12
82909                    KOZLOVA AGATA             3
82910                PANTELEEVA KARINA             8
82911                  NAZAROVA SOF'YA             2
82912              BONDAREVA STEFANIYA             9

[82913 rows x 2 columns]

In [92]:
df_ = pd.merge(df, cross_country, how='inner', on='name')

In [93]:
df_

,name,not_ok_flights,flights,percentage,cross_country
0,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,3,7,0.428571,0
1,ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА,1,5,0.200000,0
2,ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ,0,5,0.000000,0
3,НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ,2,6,0.333333,0
4,ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ,0,6,0.000000,0
...,...,...,...,...,...
82908,KASATKIN VALERIY,0,23,0.000000,12
82909,KOZLOVA AGATA,0,17,0.000000,3
82910,PANTELEEVA KARINA,0,18,0.000000,8
82911,NAZAROVA SOF'YA,0,19,0.000000,2
82912,BONDAREVA STEFANIYA,0,24,0.000000,9

In [94]:
df_.to_csv(r'data/table.csv', index_label='id')

In [4]:
df1 = pd.read_csv('data/table.csv', index_col='id')

In [5]:
df1.cross_country.value_counts()

0     20284
2      9078
3      8482
1      7363
4      6537
5      4311
6      3430
7      2887
8      2569
9      2310
10     2182
11     2075
12     1781
13     1585
14     1381
15     1168
16     1009
17      766
18      627
19      491
20      438
21      347
22      323
23      246
24      216
25      171
26      144
27      112
28      101
30       88
29       78
31       66
33       42
32       41
34       41
35       26
36       25
37       18
38       17
39       14
41        9
40        8
43        7
46        5
42        3
44        3
48        2
51        2
45        1
47        1
49        1
52        1
Name: cross_country, dtype: int64

In [6]:
df1

,name,not_ok_flights,flights,percentage,cross_country
id,,,,,
0,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,3,7,0.428571,0
1,ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА,1,5,0.200000,0
2,ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ,0,5,0.000000,0
3,НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ,2,6,0.333333,0
4,ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ,0,6,0.000000,0
...,...,...,...,...,...
82908,KASATKIN VALERIY,0,23,0.000000,12
82909,KOZLOVA AGATA,0,17,0.000000,3
82910,PANTELEEVA KARINA,0,18,0.000000,8
82911,NAZAROVA SOF'YA,0,19,0.000000,2
82912,BONDAREVA STEFANIYA,0,24,0.000000,9

In [7]:
suspicious = pd.read_csv('data/suspicious.csv', index_col='id')

In [8]:
suspicious

                   name  not_ok_flights  flights  percentage
id
0          BELOVA DIANA              35       49    0.714286
1     NIKONOVA TAT'YANA              27       38    0.710526
2        KALMYKOV MARAT              36       49    0.734694
3       BASHIROV RAMIL'              43       50    0.860000
4        DMITRIEV DEMID              40       50    0.800000
..                  ...             ...      ...         ...
576     GOLOVINA OLESYA              35       43    0.813953
577       AKIMOVA ZLATA              31       44    0.704545
578   KARTASHOV GEORGIY              44       58    0.758621
579   STOLYAROVA KARINA              51       63    0.809524
580  KONSTANTINOV ADEL'              29       40    0.725000

[581 rows x 4 columns]

In [9]:
df1.rename(columns={'percentage': 'percent_not_ok'}, inplace=True)

In [10]:
df1

,name,not_ok_flights,flights,percent_not_ok,cross_country
id,,,,,
0,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,3,7,0.428571,0
1,ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА,1,5,0.200000,0
2,ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ,0,5,0.000000,0
3,НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ,2,6,0.333333,0
4,ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ,0,6,0.000000,0
...,...,...,...,...,...
82908,KASATKIN VALERIY,0,23,0.000000,12
82909,KOZLOVA AGATA,0,17,0.000000,3
82910,PANTELEEVA KARINA,0,18,0.000000,8
82911,NAZAROVA SOF'YA,0,19,0.000000,2
82912,BONDAREVA STEFANIYA,0,24,0.000000,9

In [12]:
df1['percent_cross'] = [elem[4] / elem[2] for elem in df.values]

In [13]:
df1

,name,not_ok_flights,flights,percent_not_ok,cross_country,percent_cross
id,,,,,,
0,КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ,3,7,0.428571,0,0.000000
1,ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА,1,5,0.200000,0,0.000000
2,ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ,0,5,0.000000,0,0.000000
3,НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ,2,6,0.333333,0,0.000000
4,ГЛУШКОВ КОНСТАНТИН ИЛЬИЧ,0,6,0.000000,0,0.000000
...,...,...,...,...,...,...
82908,KASATKIN VALERIY,0,23,0.000000,12,0.521739
82909,KOZLOVA AGATA,0,17,0.000000,3,0.176471
82910,PANTELEEVA KARINA,0,18,0.000000,8,0.444444
82911,NAZAROVA SOF'YA,0,19,0.000000,2,0.105263
82912,BONDAREVA STEFANIYA,0,24,0.000000,9,0.375000

In [14]:
df1 = df1[df1['flights'] > 20]

In [15]:
df1

,name,not_ok_flights,flights,percent_not_ok,cross_country,percent_cross
id,,,,,,
16852,ZOLOTOVA SVETLANA,23,39,0.589744,21,0.538462
16856,SHMELEVA ELENA,13,25,0.520000,21,0.840000
16859,SVESHNIKOVA NATASHA,28,42,0.666667,16,0.380952
16866,BELOVA DIANA,35,49,0.714286,29,0.591837
16878,VOLOSHIN ROMAN,21,39,0.538462,11,0.282051
...,...,...,...,...,...,...
82899,ERMOLOVA SOFIYA,0,22,0.000000,14,0.636364
82902,ERMOLAEVA SNEZHANA,0,22,0.000000,10,0.454545
82906,OSIPOVA EL'MIRA,0,23,0.000000,11,0.478261
82908,KASATKIN VALERIY,0,23,0.000000,12,0.521739
82912,BONDAREVA STEFANIYA,0,24,0.000000,9,0.375000

In [16]:
df1 = df1[df1['percent_not_ok'] >= 0.5]

In [17]:
df1 = df1[df1['percent_cross'] >= 0.5]

In [19]:
df1.reset_index(inplace=True)

In [20]:
df1

,id,name,not_ok_flights,flights,percent_not_ok,cross_country,percent_cross
0,16852,ZOLOTOVA SVETLANA,23,39,0.589744,21,0.538462
1,16856,SHMELEVA ELENA,13,25,0.520000,21,0.840000
2,16866,BELOVA DIANA,35,49,0.714286,29,0.591837
3,16904,PANFILOVA NADEZHDA,17,30,0.566667,17,0.566667
4,16942,DOLGOVA NATAL'YA,23,40,0.575000,29,0.725000
...,...,...,...,...,...,...,...
1592,81568,LEVIN MARSEL',18,32,0.562500,16,0.500000
1593,81582,KAZANTSEV RAMIL',19,36,0.527778,19,0.527778
1594,82348,VORONINA NATALIYA,25,47,0.531915,36,0.765957
1595,82359,POSTNIKOV ARTEMIY,14,25,0.560000,13,0.520000
1596,82711,KHOMYAKOVA AGATA,19,37,0.513514,19,0.513514

In [21]:
df1.to_csv(r'data/not_ok_and_cross.csv', index_label='id')